[2016-02-16 04:50] nfischer opened #1 "Initial Discussion and TODOs for 1st release"
_*[NOTE: @nfischer opened this to discuss adding a README, and I'm totally hijacking it. Sorry - @ariporad]*_

Ok, this issue will serve as the replacement for shelljs/shelljs#244. Feel free to discuss or provide feedback.

Things that need to be done prior to 1st release (which will hopefully be in conjunction with `shelljs@0.7.0`):

- [x] Add README.md
- [x] Add some tests (I already have a bunc

[2016-02-16 04:52] nfischer opened #2 "Add license"
If this is going to be MIT licensed, we should add that. If we're opting for the BSD license like shelljs, we should modify package.json and add the appropriate license file.

[2016-02-16 04:54] nfischer opened #3 "Add testing and continuous integration"
This should have some basic unit tests (maybe one for each command, borrowed from shelljs's unit tests?). This should also get some sort of CI set up, as soon as the unit tests are written.

[2016-02-16 16:49] ariporad commented on #3
Merging this in to #1.

[2016-02-16 16:49] #3 closed

[2016-02-16 16:50] ariporad commented on #2
Merging into #1.

[2016-02-16 16:50] #2 closed

[2016-02-16 17:42] nfischer commented on #1
Merging these is fine with me.

As for license, I'm fine with the MIT license (I license most of my stuff under that anyway). It might be confusing to have our stuff under two licenses (BSD for shelljs, MIT for shx), but I don't think that's a huge concern.

I can write up a basic README later today, that links back to shelljs and has simple examples

[2016-02-16 18:39] ariporad commented on #1
@nfischer: I personally vote to change `shelljs` to MIT (with @arturadib's permission, of course). A good chunk of the node world is under the MIT, and you can't use BSD code in a MIT project, and I can't think of any reason we'd need the BSD over MIT.

[2016-02-16 18:42] ariporad commented on #1
@nfischer:
In response to your comment [here][old]):

 If I have a `scripts/my-script.js` file, aren't the following equivalent: `shjs scripts/my-script` and `node scripts/my-script`?

[old]: https://github.com/shelljs/shelljs/pull/244#issuecomment-184792422

[2016-02-16 18:53] ariporad commented on #1
Ok, it looks like the tests are dependent on shelljs/shelljs#357.

[2016-02-16 18:55] nfischer commented on #1
@ariporad the difference is if you have NODE_PATH set up (I think that's env car, but I may be mistaken). Try installing shelljs globally, unsetting NODE_PATH, and running a script from an arbitrary directory. "shjs" should always work, while "node" sometimes doesn't (it can't find the shelljs folder)

This was the case for me, because my global installs go to a folder other than /use/local

[2016-02-17 07:12] nfischer commented on #1
@ariporad I just added a README. Feel free to modify it drastically, it's just an initial draft.

[2016-03-06 05:52] levithomason commented on #1
Is there any interest in starting this project off with ES2015 using [babel](http://babeljs.io/) from the get go?

[2016-03-06 05:55] ariporad commented on #1
@levithomason: I've been thinking about this. I've been considering switching shelljs to ES6, and if we did I'd probobly switch shx over at the same time.

I'm not really sure about switching shx over to babel first, it might be an interesting testing ground, and the tests are already es6. (I'm also trying to switch the shelljs tests to es6 and ava, so there's that).

Let me think on it.

[2016-03-06 05:59] levithomason commented on #1
Awesome.  I'd love to help get things going on babel and a build system using just package scripts if it is of interest.  LMK

[2016-03-06 07:16] nfischer commented on #1
@levithomason I've been contributing to dthree/cash a bit recently and really like their build system. Is something like that what you had in mind?

[2016-03-06 21:23] levithomason commented on #1
Nice, I've done a lot of gulp build systems.  Lately, I've been picking up the trend of [using npm as a build tool](http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/) which [quite a few](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=using+npm+as+a+build+tool) folks seem to be picking up on as well.

Initially, I had many qualms with this approach.  Mostly

[2016-03-06 22:22] nfischer commented on #1
I really liked how their project uses watchers that automatically run the build steps. The only issue is that everything crashes if you press save for a file with syntax errors.

[2016-03-07 04:25] levithomason commented on #1
Oh yea, yuck.  When using gulp with watchers and linters, I use [`gulp-plumber`](https://www.npmjs.com/package/gulp-plumber) to prevent the build from crashing but still log the error.

I'd love to scaffold something out if we're ready for it.

[2016-03-07 04:57] nfischer commented on #1
@levithomason now is probably a good time. We're still getting things set up, but it'd be nice to have this project ready to go (initial release) by the time ShellJS `v0.7` is released.

[2016-03-07 05:27] ariporad commented on #1
+1
On Sun, Mar 6, 2016 at 8:57 PM, Nate Fischer <notifications@github.com> wrote:
@levithomason [https://github.com/levithomason] now is probably a good time. We're still getting things set up, but it'd be
nice to have this project ready to go (initial release) by the time ShellJS v0.7 is released.

—
Reply to this email directly or view it on GitHub
[https://github.com/shelljs/shx/issues/1#issuec

[2016-03-07 20:09] levithomason commented on #1
Looks like there are 15 open items for 0.7.  Can't imagine setting up the build would take any more than an evening, a few at most.  If you want to push your tests...

...and give the OK, I can start a PR for the base build.  Probably split it up into a few PRs, one for each hunk.  Babel, lint, test, etc.

[2016-03-07 20:45] nfischer commented on #1
@levithomason

I'm going to discuss with @ariporad about bumping some of these back to v0.8 (or whatever the next release is), so that we can get this released sooner.

[2016-03-08 16:15] levithomason commented on #1
Sounds good, ping me if you'd like any help.

[2016-03-08 18:15] nfischer commented on #1
If you can get a build system set up for this project, that should be more than helpful enough. Also, feel free to review any PRs @ariporad and I put out for shelljs :+1: Thanks for the help!

[2016-03-08 21:14] levithomason commented on #1
Have a go at #4 and LMK what you think.  It is a minimal vanilla npm build system hitting the points we talked about.

[2016-03-08 21:20] nfischer opened #5 "echo outputs twice"
[code]

I think the simplest fix is to check for if we get `echo` as a function, and not output its return value (since `echo` already outputs things).

[2016-03-08 21:25] nfischer opened #6 "cd can't work, so we should output a warning"
`shx cd` can't ever work (a child process can't modify its parent process's working directory, for security reasons). We should output this as a warning, or just make `shx cd` invalid.

[2016-03-08 21:25] nfischer commented on #6
Also, this is also the case with `pushd` and `popd`, I believe.

[2016-03-09 00:40] ariporad commented on #6
Hmm...

How does normal cd work?

[2016-03-09 00:40] ariporad commented on #5
SGTM

[2016-03-09 00:49] ariporad commented on #1
@levithomason: Thanks so much for your PR!

[2016-03-09 01:45] nfischer commented on #6
[code]

ShellJS `cd()` works while we're inside the same node process. As soon as node exits, it jumps back to the directory we started from.

[2016-03-09 02:01] nfischer commented on #6
Other things that don't really make sense to expose:

 - cd
 - pushd
 - popd
 - dirs (there's no way to build the directory stack)
 - set
 - .to()
 - .toEnd()
 - exit (`shx exit 0` is equivalent to unix `true`. It differs from unix `exit 0` in that it doesn't actually terminate the current shell)
 - exec (what's the point?)

[2016-03-09 02:05] levithomason commented on #6
These are great points.  Perhaps it makes sense to implement only a subset of ShellJS commands for the initial release?

[2016-03-09 02:09] nfischer commented on #6
I think a blacklist is the best way to go. We can blacklist the commands above (we can probably skip over .to() and .toEnd()), and allow executing the others (that are in shelljs).

Or we can just use one whitelist of the commands I didn't list (ex. ls, rm, cp, sed, etc). @levithomason @ariporad What do you guys think?

[2016-03-09 02:12] ariporad commented on #6
Personally, I vote blacklist. Seems simpler.

[2016-03-09 02:15] nfischer commented on #6
And if something falls in the blacklist, what should we do? Output a warning, like `Warning: 'shx cd' is not supported`?

[2016-03-09 02:15] ariporad commented on #6
That's what I'd do.

Thanks! Ari
On Tue, Mar 8, 2016 at 6:15 PM, Nate Fischer <notifications@github.com> wrote:
And if something falls in the blacklist, what should we do? Output a warning,
like Warning: 'shx cd' is not supported ?

—
Reply to this email directly or view it on GitHub
[https://github.com/shelljs/shx/issues/6#issuecomment-194073029] .[https://github.com/notifications/beacon/ABu7pH0a

[2016-03-09 02:16] nfischer commented on #6
SGTM

[2016-03-09 02:23] nfischer commented on #6
Check out #8. I haven't tested this (the build system seems broken).

[2016-03-09 04:21] levithomason commented on #6
@nfischer can you give some repro steps, expected result, and actual result for the build issue you're having? I'll get a fix up.

[2016-03-09 04:50] #6 closed

[2016-03-09 05:46] nfischer commented on #6
@levithomason

[code]

[2016-03-09 05:47] nfischer commented on #6
For expected result, I would expect that to output "hello world."

[2016-03-09 06:10] levithomason commented on #6
Thanks, see #9 for the fix.

[2016-03-09 20:12] levithomason opened #12 "Consider shx REPL"
Was toying with a thin streaming wrapper around the `shx` function. Would be cool to give this some thought.  There is good potential to create a cross platform shell repl:

![shx repl](http://g.recordit.co/n5q3iq4OAT.gif)

This also raised some issues with how we are accepting argv in `shx` and parsing them in parseArgs.  I'll wait until we get some of the other more fundamental issues/PRs cleare

[2016-03-09 20:54] nfischer commented on #12
Would this have any benefit over dthree/cash?

[2016-03-09 21:00] levithomason commented on #12
Not sure, i'm not completely familiar with their work.  This was just so easy to do it seemed like it was worth considering:

[code]

I'll take a closer look at cash later and see what the extra benefits would be, if any.

[2016-03-09 21:45] nfischer commented on #12
If this is simple enough to get right, I'm fine with this. It seems like an awesome feature!

It seems similar to a project we were thinking of starting, which would be a node REPL that includes the latest version of ShellJS already required (globally), so commands like `cp()` are immediately available (if there's any interest in helping with that as well). It might be nice to have a coffee script

[2016-03-10 00:19] #5 closed

[2016-03-11 01:18] ariporad commented on #12
I think that we should just defer this to cash, which is more complete.

[2016-03-13 01:19] nfischer commented on #1
Just added the MIT license (I see no reason not to go with that one)

[2016-03-13 01:24] levithomason commented on #1
Agreed

[2016-03-13 02:52] nfischer opened #13 "Switch this to use shelljs as a git submodule (for now)"
Since we're planning to release this with v0.7, it makes more sense to have shelljs included as a submodule (since master is most of the way to v0.7).

Once v0.7 lands, we can swap out the submodule for a regular npm dependency. If all the tests pass, we can release it.

[2016-03-13 06:07] levithomason commented on #13
What is the advantage to the submodule vs an npm dep here?

[2016-03-13 06:08] levithomason commented on #12
Agreed for now, given bandwidth constraints and the scope of this add.

[2016-03-13 06:08] #12 closed

[2016-03-13 08:04] nfischer commented on #13
@levithomason the advantage (for right now) is that the submodule can be more up-to-date than the npm dep. The master branch has progressed quite a bit from v0.6. Since we're trying to get this project released as soon as v0.7 comes out, we'll have a smoother transition if we develop against shelljs master branch, vs. against shelljs v0.6.

This is only a temporary change, since once v0.7 is actua

[2016-03-13 21:28] levithomason commented on #13
What about `npm i shelljs/shelljs -S`, installing the dep from the latest master?  Any update to master on shelljs can be instantly installed.  In my experience, submodules are more of a pain to manage.  If we are consider this for a short term, I'd like to suggest considering the install from github approach.

What say ye?

[2016-03-13 21:36] ariporad commented on #13
I think we should do that, because ideally once 0.7 is released we'll want to keep testing master. Plus, may as well keep everything as npm.

[2016-03-13 22:23] nfischer commented on #13
Ah, didn't know about that option. That sounds good to me. We should switch to v0.7 once it gets released though, for stability's sake.

[2016-03-13 23:44] levithomason commented on #1
Looks like I don't have write perms to the repo, is this intended or oversight?  I've setup tests and was trying to open a PR here (closed my fork).

I can setup my fork again if needed, but would rather have write rights if at all possible.

[2016-03-13 23:45] ariporad commented on #1
No, that was an oversight. Hang on a sec.

[2016-03-13 23:47] ariporad commented on #1
@shelljs/shx: Better?

[2016-03-14 00:21] levithomason commented on #13
Absolutely, we def don't want to ship anything with a direct github install.  Especially without a commit sha ref.  I'll get a PR for this.

[2016-03-14 00:23] levithomason commented on #1
Cool, will try that later.  Moved back to fork for now.  Also, I'll be traveling this week so not sure of my availability.  Two PRs open for now, one for tests and another for the shelljs github dep.

Catch you guys later, cheers!

[2016-03-14 00:23] levithomason commented on #1
Yes, I have rights :D

[2016-03-14 02:07] #13 closed

[2016-03-14 22:54] ariporad commented on #1
Awesome! No rush either.

Ari

On Sun, Mar 13, 2016 at 5:23 PM, Levi Thomason <notifications@github.com>
wrote:

[2016-03-25 00:33] nfischer opened #16 "Unable to install as a dependency"

[2016-03-25 00:39] nfischer commented on #16
Whoops, remembered that we previously discussed this behavior.

[2016-03-25 00:39] #16 closed

[2016-03-28 23:32] levithomason opened #17 "Setup Travis"

[2016-03-28 23:45] levithomason opened #18 "Setup changelog"

[2016-03-28 23:46] levithomason opened #19 "Setup coverage"

[2016-03-28 23:47] levithomason commented on #1
Most the items in this issue have been addressed.  The remaining were pulled into separate issues.  Closing.

[2016-03-28 23:47] #1 closed

[2016-04-09 01:13] nfischer commented on #17
@ariporad Any further work on this?

[2016-04-09 02:21] nfischer opened #22 "Switch to Mocha"
Reopening this, since it looks like one of our other issues got closed. I looked into test frameworks a bit more.

 - ava seems awesome, but I'm concerned with its concurrent nature. I'd imagine our tests involve modifying state on disk, so concurrently running tests each modifying disk state could be a big issue. If ava has a good workaround for this (other than the `.serial` method for every tes

[2016-04-09 16:39] levithomason commented on #22
I setup tests a few weeks back in #14.  This was done with Ava per some earlier conversations we had.  We we're waiting for @ariporad to push some more tests but it sounds like they got lost.

Glad you brought this up though, when setting up Ava I had the same concerns.  I also had more tests included with the initial setup but they were giving me troubles due to the concurrent nature of things.

[2016-04-09 16:47] levithomason commented on #17
If I can get admin rights I can get this done.

[2016-04-11 04:02] ariporad commented on #22
I personally vote rocha, it looks very cool
On Fri, Apr 8, 2016 at 7:21 PM, Nate Fischer <notifications@github.com> wrote:
Reopening this, since it looks like one of our other issues got closed. I looked into test frameworks a bit more.

 * ava seems awesome, but I'm concerned with its concurrent nature. I'd imagine our tests involve modifying state on disk, so concurrently running tests each modi

[2016-04-11 14:49] levithomason commented on #22
Of the two, I'd prefer not using rocha.  It is not well maintained and [doesn't support `--compilers`](https://github.com/bahmutov/rocha/issues/7).  I'd be concerned about what other issues it would bring. I think we can avoid cross test dependencies without this.

I say we start with mocha, if we want, we can always drop `rocha` on top since it is just a wrapper.

[2016-04-11 17:30] nfischer commented on #22
SGTM. @levithomason do you want to handle switching the test framework?

[2016-04-11 17:40] levithomason commented on #22
Sure thing

[2016-04-12 15:44] kirly-af opened #24 "Unable to install with npm"
I tried to install shx with npm (globaly, locally, as dep, as devDep) both linux and windows machines. But it breaks during linking. It looks like it does not find `lib/cli.js` (see the log below).
[code]

npm-debug.log
[code]

[2016-04-12 16:36] nfischer commented on #24
This is unfortunately by design. This is something that I disagree with, since I think it deters contributors (`npm install` is always my go-to command for starting a project).

The lib folder has to be built with `npm run dev` first.

I'm in favor of just committing build files, since it makes installing from github a breeze, helping out contributors immensely (unless `npm` stops complaining, whi

[2016-04-12 16:41] levithomason commented on #24
I've added a PR to include the built assets with the NPM package, I still don't think we should include them on GH though.  It will bloat our PRs and cause larger histories.

This also won't be an issue once we publish to NPM.  In the interim, we can add some README help for this.

[2016-04-12 16:44] nfischer commented on #24
@levithomason This is still an issue for developers I think. If I'm getting started with shx, what's my first command after I clone the repo? `npm install` seems to fail, and I'm pretty sure `npm run dev` would fail as well (no deps installed).

[2016-04-12 16:51] levithomason commented on #24
I think we're talking about two different things.  Let me make sure I've understood this correctly.

### Cloning
Running `git clone ...` and then `npm install` inside the locally cloned repo _should_ work perfectly fine.  There should be no errors and the `lib` folder should also be built.  If this is not the case, there is a bug.

### NPM install from GH
However, attempting to install `shx` _with

[2016-04-12 16:54] nfischer commented on #24
I'll try out cloning again. Last time I tried, it was broken.

[2016-04-12 16:58] kirly-af commented on #24
Thank you for your quick answer.
@levithomason is right.
I failed to add `shx` to one of my projects dependencies (basically to avoid writing a shelljs script for only one `cp`). I understood that this is related to the fact it not published on npm yet.

FYI, **git clone + npm install works fine** (I was doing some tests on the build).

To answer @nfischer, from a developer point of view, I would

[2016-04-12 16:59] levithomason commented on #24
Here is what I get:

[code]

Everything seems to work as it should.  Clone, install, and initial build.  I've also added install from github instructions to the readme.  Note, all this will go away the instant we first publish to NPM.

@kirly-af thanks for the report and follow up, let me know if you run into any further issues and we'll get you fixed up.

[2016-04-12 16:59] #24 closed

[2016-04-12 19:28] nfischer commented on #24
Just ran this against PR #21:

[code]

My system info is at the end.

[2016-04-12 19:32] nfischer commented on #24
This seems to work against master, but #21 is 2 commits ahead (it isn't missing anything in master). Does this not work for other branches?

[2016-04-13 00:59] levithomason commented on #24
Hm, branch shouldn't matter.  Though, I'm of the mind we shouldn't put much time into fixing this in this way.  Once we have an npm module, that will cover the grand majority of cases.  To cover the other cases, we can simplify this by pushing built assets to a `dist` branch or something.  Then the npm install from github instructions would just be:

[code]

[2016-04-13 01:50] nfischer opened #27 "No rimraf command"
The `package.json` uses a call to `rimraf`, but this is not available on `node 4`. Should this be a dev dependency?

[2016-04-13 02:49] levithomason commented on #27
Definitely dev dependency.  PR coming.

[2016-04-13 02:52] levithomason commented on #27
See #28

[2016-04-13 03:36] #27 closed

[2016-04-13 04:08] nfischer commented on #27
Thanks. Fixed this earlier but didn't have time to push.

[2016-04-13 05:31] nfischer commented on #24
Ok, I figured out the issue. It has to do with whether or not the cloned folder is inside the folder `node_modules/`. If it's inside that folder, then it'll try to create the symlink `node_modules/.bin/shx -> ../shx/lib/cli.js`. I imagine it also does something like `chmod +x` in there, which would fail since `lib/cli.js` doesn't exist.

I was cloning into `node_modules/shx/`, which caused the iss

[2016-04-13 07:24] kirly-af commented on #24
This is the same issue as when installing via npm. Maybe you should consider removing the `bin` field from the `package.son` until it is published on npm.
You could then specify it on a possible `dist` branch as @levithomason suggested.

[2016-04-13 09:41] gasolin opened #29 "use shx for npm script"
I'm curious the possibility if shx could be a better alternative to run npm scripts in platform independent way

[2016-04-13 16:10] ariporad commented on #29
Hi @gasolin!

That's exactly why we invented `shx`, we wanted a way to use `shelljs` in npm scripts.

Once we release the first version of `shx`, you'll be able to do something like this:

[code]

[2016-04-13 16:32] levithomason commented on #29
You've hit it on the head ;) Closing this for good house keeping, feel free to open if there are any further questions.

[2016-04-13 16:32] #29 closed

[2016-04-14 02:43] gasolin commented on #29
Looking forward it!

[2016-04-19 21:47] nfischer commented on #22
This blocks #23

[2016-04-19 21:48] nfischer commented on #17
Closing this, since it's technically done already

[2016-04-19 21:48] #17 closed

[2016-04-19 23:13] levithomason commented on #22
thanks for the bump, will put some time to this tonight.

[2016-04-20 05:22] levithomason commented on #22
PR up #31

[2016-04-22 00:21] #22 closed

[2016-04-26 05:37] #19 closed

[2016-04-26 05:47] levithomason opened #35 "Codecov.io repo settings"
@ariporad it looks like I don't have complete access to shx.  I'm missing the settings tab.  Guessing this is why I also cannot setup coverage requirements for PRs.  Could you grant me this perm or setup the repo?

What needs done:

- [x] add repo to codecov.io
- [x] add PR coverage status / requirement
- [ ] add codecov.yml

[2016-04-26 06:17] nfischer commented on #35
@levithomason perms should be fixed now.

[2016-04-26 06:17] levithomason commented on #35
💥 thanks

[2016-04-27 05:58] nfischer opened #36 "Linter checks the code coverage directory"
Steps to reproduce:

[code]

[2016-04-27 06:01] nfischer commented on #35
Is there a way to also get the coverage to run as part of the posttest?

[2016-04-28 01:13] #36 closed

[2016-04-28 18:20] levithomason commented on #35
Yep, though, why would we want to do this?

[2016-04-28 20:16] nfischer commented on #35
I see `npm test` as a way for contributors to check their local changes before submitting a PR. Just like how we have linting as part of our `npm test` (if someone writes code in a different style, we'd like to catch that early on), it might be nice to output coverage results at the end (to warn people early on if they make a coverage-reducing change).

This is similar to how [cash](https://github

[2016-04-28 23:04] levithomason commented on #35
Got it, sounds good.  See #38

[2016-05-02 04:54] levithomason commented on #35
Looks like we got what we need with the defaults, no yml required for now. Closing as done.

[2016-05-02 04:54] #35 closed

[2016-05-02 18:32] backspaces opened #40 "npm install shx"
.. doesn't work. Nor does npm install shelljs expose shx.

How do I do an npm install -D of shx?

[2016-05-02 18:34] levithomason commented on #40
It is not yet published on NPM ;)  We're moving very close to the first publish.

[2016-05-02 18:36] backspaces commented on #40
so is there a way to use shelljs in package.json scripts instead, as one liners?

[2016-05-02 18:43] levithomason commented on #40
`shx` is the util you'd need to do this.  There is no easy way to use it until it is published on NPM.  We should have it out very soon.

Note, if you're feeling extra adventurous and really want it _now_ you _could_ technically clone this repo, run a build, and point to that.  However, it is certainly not a recommended approach.

[2016-05-02 18:45] backspaces commented on #40
Thanks, great explanation. It's a *great* idea for npm run scripts. Hope all goes well.

[2016-05-02 18:59] backspaces commented on #40
ok to leave this open, so when it's on npm I'll get a notification when you announce here?

[2016-05-02 19:06] levithomason commented on #40
Sure, I'll close this via #41.

[2016-05-03 04:15] #40 closed

[2016-05-03 05:00] levithomason commented on #29
@gasolin `shx` is now available on npm:

[code]

[2016-05-03 05:00] levithomason commented on #24
@kirly-af `shx` is now available on npm:

[code]

[2016-05-03 05:01] levithomason commented on #40
@backspaces `shx` is now available on npm:

[code]

[2016-05-03 06:53] nfischer opened #43 "Broken release: missing runtime dependencies"
The latest release for shx is broken. It looks like `babel-polyfill` should actually be listed as a runtime dependency, not a dev dependency. It appears this is the only one so far.

I would recommend removing the current release (if it's possible to remove) and replacing it with a branch that has the fix.

Also, we should investigate ways to prevent slip-ups like this in the future, if at all pos

[2016-05-03 06:58] nfischer commented on #43
This should be resolved by #44 (as best as I can tell, anyway). I did my best to test against node v4-6 (I installed dev deps, built the lib/ folder, and then removed everything except runtime deps).

[2016-05-03 08:29] gasolin commented on #29
Thanks!

In the initial test, I found shx does not work in npm script (compare to rimraf and mkdirp)
might be the path issue.

(installed via `npm install --save-dev shx`)

[2016-05-03 13:07] levithomason commented on #29
Thanks @gasolin, could you open a new issue with steps to reproduce?

[2016-05-03 17:37] nfischer commented on #29
@levithomason please see #44

[2016-05-03 21:44] levithomason commented on #43
LGTM.

We should probably consider removing the polyfill, actually.  It is quite large and pollutes the consumer's global scope.  Node 6 supports most all of what the poyfill gives, so it will not be necessary at some point in the not too distant future.  Until then, we could just write in Node 4.

[2016-05-03 21:45] #43 closed

[2016-05-03 21:55] levithomason commented on #43
It is considered very bad practice to unpublish a package.  Consider, someone may have already downloaded that version.  If you do [unpublish](https://docs.npmjs.com/cli/unpublish), you still cannot ever publish the same package with the same version.  It is forever locked by npm, otherwise, you could have two identical packages and versions that are not the same version.  Could be total chaos.

G

[2016-05-03 21:57] ariporad commented on #43
👍

On Tue, May 3, 2016 at 2:55 PM, Levi Thomason <notifications@github.com> wrote:
It is considered very bad practice to unpublish a package. Consider, someone may have already downloaded that version. If you do unpublish [https://docs.npmjs.com/cli/unpublish] , you still cannot ever publish the same package with the same version. It is forever locked by npm, otherwise, you could have two identica

[2016-05-03 21:57] nfischer commented on #43
@levithomason Awesome! Thanks for the fix.

What kind of refactor would be necessary to cut out this dep?

[2016-05-03 22:36] levithomason commented on #43
Not much refactoring currently required, there is not much code.  I think we use String.startsWith() somewhere for instance.  That would need be some other method.

[2016-05-04 12:48] gasolin commented on #29
now it works, thanks!

[2016-05-05 03:16] backspaces opened #48 "shx with no args: help message?"
An upgrade request: if I run shx with no args (ls, pwd, etc), it would make sense to print out some sort of help messages. List the available commands?

[2016-05-05 04:14] nfischer commented on #48
Good suggestion! We might want to investigate adding an explicit `shx help` command as well. Perhaps `shx` with no args would suggest running `shx help` to see available commands.

Thanks for trying out the project!

[2016-05-05 15:42] backspaces commented on #48
Thanks back at you, this is a life saver for me! I've written more bash
than any other language I think. Sun made all of us be build masters for a
couple of months, sorta hazing I guess. I use bash daily, and now I'll use
shx daily.

[2016-05-05 16:36] levithomason commented on #48
This is a great suggestion. @nfischer I'd like to consider `yargs` as we think more about rounding out the cli.

[2016-05-05 23:10] ariporad commented on #48
I'd actually vote against `yargs`, because we don't actually want to parse most CLI arguments.
I'll submit a `shx help` PR.
On Thu, May 5, 2016 at 9:36 AM, Levi Thomason <notifications@github.com> wrote:
This is a great suggestion. @nfischer [https://github.com/nfischer] I'd like to consider yargs as we think more about rounding out the cli.

—
You are receiving this because you are subscribed to

[2016-05-10 21:31] nfischer opened #51 "Code coverage badge seems to show for latest (passing) PR, not for master branch"
It appears that the code coverage badge shows for the latest PR (that passes CI), not for the latest master branch. I noticed that the badge went up to 84% **before merging** the last PR. Currently, the latest passing PR and master branch have the same coverage, but this could probably be tested out by creating a fake PR that deletes the tests (0% coverage) and then I believe the badge icon will c

[2016-05-10 21:36] levithomason commented on #51
Bade is already pointed at master:
[code]
[![Codecov](https://img.shields.io/codecov/c/github/shelljs/shx/master.svg?style=flat-square&label=coverage)](https://codecov.io/gh/shelljs/shx)

Also, as seen here I believe the master branch is at 84% per codecov at least:
https://codecov.io/gh/shelljs/shx/branch/master

This makes sense since the last merged PR should have the exact same head as the las

[2016-05-10 21:36] #51 closed

[2016-05-10 23:30] nfischer commented on #51
Posting here to mark down that, as discovered by #52, this is still an issue. This appears to be a problem with codecov (see codecov/support#191), so we can leave this issue closed here.

[2016-05-10 23:31] levithomason commented on #51
Awesome, thanks for finding the related codecov issue!

[2016-05-11 19:10] levithomason commented on #48
Update, `shx help` is merged and released in `v0.1.2`.  You'll see help when missing a command or using an invalid command.  There is also a prompt to run help if you use an unsupported command.

@backspaces I believe this covers all the needs.  Please reopen if we've missed anything.  Thanks!

[2016-05-11 19:10] #48 closed

[2016-05-14 00:13] #18 closed

[2016-05-17 03:07] gasolin opened #58 "add shx cd support"
seems shelljs has `cd` support but shx does not support `shx cd` yet

[2016-05-17 03:10] ariporad commented on #58
Hi @gasolin:

`shx cd` actually can't work, because there's no way for a child process (ex. `shx`) to updates a parent process's cwd. Sorry.

I'm going to close this, but feel free to reopen if I've misunderstood.

[2016-05-17 03:10] #58 closed

[2016-05-17 03:19] gasolin commented on #58
Thanks for clarify. Maybe it worth to mention in README, or people would expect shx will have full functionality that shelljs is capable of.

[2016-05-17 03:49] nfischer commented on #58
@gasolin If you need to perform a `cd` operation, you can just type `cd` instead of `shx cd`. It works on both Windows & unix.

I agree, it's probably worth mentioning the list of supported commands in the README.

[2016-05-17 17:31] levithomason opened #59 "Explain unsupported commands and give workarounds"
Per https://github.com/shelljs/shx/issues/58#issuecomment-219612735 it would be helpful to show the unsupported commands in the README.  Also, giving some workarounds would be helpful.

[2016-05-17 19:44] nfischer commented on #59
I agree, this is a great idea. I'll see if I can write something up that's clear and succinct.

[2016-05-18 15:09] levithomason opened #60 "Consider using publish-please"
https://github.com/inikulin/publish-please

Cc @nfischer, we may want to use this package for super solid releases. Does security checks and guards against using regular npm release.

I might write "is logged in" and "has permission" checks for it if I start using it.

[2016-05-18 15:13] ariporad commented on #60
This looks really cool! I'll open a pr tonight.

Thanks! Ari
On Wed, May 18, 2016 at 8:09 AM, Levi Thomason <notifications@github.com> wrote:
https://github.com/inikulin/publish-please [https://github.com/inikulin/publish-please]

Cc @nfischer [https://github.com/nfischer] , we may want to use this package for super solid releases. Does security checks and guards against using regular npm release.

[2016-05-18 15:13] ariporad commented on #60
This looks really cool!

[2016-05-24 13:55] kirly-af commented on #24
Thanks for keeping me up to date, great stuff !

[2016-06-03 14:47] kirly-af opened #61 "Generic NUL output redirect"
It would be really convenient to have a kind of generic way to redirect output to:

* `/dev/null` (unix)
* `NUL` (batch)
* `$null` (powershell)

I am trying to think about a syntax that would not be too heavy. Maybe an option like `--null`.
What are your thoughts ?

[2016-06-03 14:48] ariporad commented on #61
Hmm... This is interesting. @nfisher: thoughts?

Thanks! Ari
On Fri, Jun 3, 2016 at 7:47 AM, Alexandre <notifications@github.com> wrote:
It would be really convenient to have a kind of generic way to redirect output to:

 * /dev/null (unix)
 * NUL (batch)
 * $null (powershell)

I am trying to think about a syntax that would not be too heavy. Maybe an option like --null .
What are your thoughts ?

[2016-06-03 21:04] nfischer commented on #61
Use `config.silent` please.

I was working on a syntax for specifying options on a command-by-command basis

[2016-06-03 21:08] nfischer commented on #61
Oh, whoops. Just realized this was shx, not shelljs. In that case, we'd probably need to implement this as `--silent` on the `shx` command itself, perhaps looking like `shx --silent rm foo bar`.

We should implement this to allow arbitrary `config` attributes to become `shx` options, such as `config.verbose` and `config.globOptions`.

[2016-06-08 14:37] levithomason commented on #61
👍

[2016-06-09 14:36] #61 closed

[2016-06-14 17:22] levithomason commented on #60
We now have a script to iterate on and no other pain points around this.  Going to close this for now.

[2016-06-14 17:22] #60 closed

[2016-06-15 19:17] niieani opened #65 "Executing paths should be supported"
I'd like a cross-platform way of executing local executables, e.g. under *nix I can currently:

[code]

this doesn't work under windows because of the path representation `./`.

I was hoping I could run:

[code]

But that doesn't seem to be supported.

Thanks! Otherwise awesome job!

[2016-06-15 22:19] nfischer commented on #65
@niieani Could you give an example of how to run a command under Windows?

##### Case 1: same directory

[code]

#####  Case 2: Subdirectory

[code]

[2016-06-16 11:41] niieani commented on #65
@nfischer not sure what's the proper way under Windows, but I've found a workaround - it seems cross-env (https://github.com/kentcdodds/cross-env) makes it possible to run executables in a cross-platform way. Perhaps dissecting that package might point to a solution.

[2016-06-17 00:46] nfischer commented on #65
I think that's really about setting environmental variables. If you only want a cross-platform way to run commands, I think you can use `path/to/binary` (assuming it has one or more directories). I'm surprised that `./binary` doesn't work on Windows.

This is all without the shx prefix of course.

[2016-06-17 13:52] niieani commented on #65
Well yeah, cross-env normally is used for setting environmental variables, but I found the other use to be a cross-platform way to run commands. :) Indeed `./binary` doesn't work on Windows. I believe `.\binary` does though.

[2016-06-17 21:47] nfischer commented on #65
Hmmm interesting. I'll investigate when I boot up my Windows machine.

We may also want to consider modifying the PATH to allow for executing binaries installed from local node module (or perhaps as an extension to `shx`).

[2016-06-21 16:15] kirly-af opened #67 "cp -n should not produce errors if file exists"
[code]

This is annoying when `shx cp -n` is used in a npm script as the script will then stop.

[2016-06-21 22:52] nfischer commented on #67
Just confirmed this. I'm going to close this issue (since it isn't an issue with `shx`), and open an issue against ShellJS.

Thanks @kirly-af!

[2016-06-21 22:52] #67 closed

[2016-06-22 00:07] nfischer commented on #67
@kirly-af This'll be fixed by shelljs/shelljs#466, if you want to take a look.

[2016-06-29 05:47] cvrebert opened #68 "Globbing arguments to an external command"
One annoying difference between Windows' old shell and the Unix shell is the lack of globbing on Windows. shx already addresses this for shell builtins and coreutils by including globbing logic in each of the commands' implementations, but this still leaves external commands that weren't written with Windows in mind (and thus don't implement their own globbing) out in the cold.
Would you be open t

[2016-06-29 06:28] nfischer commented on #68
If I'm understanding things correctly, a command like `shx rm *.txt` should work as expected, since the underlying ShellJS `shell.rm()` function will perform any glob expansion that the external shell itself hasn't already done. Correct me if this is not the case.

Would this be for other commands, such as `git`? Those currently are not supported under `shx` (We'd prefer you run `$ git add foo.txt

[2016-06-29 06:38] cvrebert commented on #68
Yes. (Although I don't know if `git` in particular is affected, but let's pretend/assume it is for the sake of example.)
While `$ git add foo.txt` of course works, something like `$ git add *.txt` doesn't.

[2016-06-29 15:25] levithomason commented on #68
Would it not make sense to simply extend `exec` to handle globs?  So that this works on windows:

[code]

[2016-06-29 17:31] cvrebert commented on #68
I'd be equally fine with that. Since [`exec`](https://github.com/shelljs/shx/blob/aa925e211fb3993572a6be4bd0eff95d350177ee/src/config.js#L14) is on the blacklist, I wasn't sure that was an option.

[2016-06-29 17:34] levithomason commented on #68
It currently is, I am thinking it may be handy to allow `exec` to handle cross platform tasks (like globs) so that it can be used on the ShellJS side as well as here in `shx`.

/cc @arturadib

[2016-06-29 17:35] levithomason commented on #68
Whoops, /cc @ariporad I mean.

[2016-06-29 18:15] nfischer commented on #68
The reason I wanted exec to be on the blacklist is to nudge people toward running commands like `$ cmd -f arg` instead of `$ shx exec cmd -f arg`. This keeps people away from all the exec nastiness, since there's very little that it brings to the table for shx. There's no technical reason it couldn't be removed from the blacklist.

Right now shelljs exec doesn't actually perform any of its own glo

[2016-06-30 06:28] #59 closed

[2016-07-21 06:50] cvrebert commented on #68
@nfischer Any luck with your write-up?
Also, I'm more than willing to make PRs related to this.

[2016-07-21 07:27] nfischer commented on #68
Just got back from a vacation. I'll see if I can implement something tomorrow for ShellJS using `execFile` under the hood, and see how that works out.

[2016-07-22 22:28] nfischer commented on #67
@kirly-af re-downloading `shx` should fix the issue, since the new version of shelljs has this bug fix.

[2016-07-28 01:52] nfischer commented on #68
I opened up shelljs/shelljs#495 for this, and should have a fix out soon. If someone is feeling especially ambitious, feel free to take it up.

[2016-07-30 02:25] nfischer opened #73 "Add plugin support"
It would be nice if there was support for incorporating ShellJS plugins into shx, like so:

[code]

Since shx blacklists certain commands, it might be good to have some option when creating the ShellJS plugin about whether it will be exposed to `shx`. This would also get rid of the need for a literal blacklist, since it would then be redundant.

[2016-07-30 05:13] ariporad commented on #73
Agreed. We could just require everything we can with a module like [`load-plugins`](https://www.npmjs.com/package/load-plugins).

[2016-07-30 05:32] nfischer commented on #73
Will that module work with ShellJS plugins? It looks like it's designed for a few specific task runners.

[2016-07-30 15:22] ariporad commented on #73
I think so, AFAICT it just uses a wildcard.

[2016-08-02 11:41] kirly-af commented on #67
@nfischer: good ! thanks for notifying me :wink:

[2016-08-09 21:16] buildbreakdo opened #74 "Using sed"
Is it possible to use sed in a npm run command? If so, could an example be provided? #

[2016-08-09 21:56] nfischer commented on #74
@buildbreakdo Thanks for pointing this out! It seems to me like we should take extra care to make sure `shx sed` uses the same syntax as standard unix `sed`. I'll add some unit tests for this to make sure and get back to you.

[2016-08-10 03:30] buildbreakdo commented on #74
@nfischer Impressive response time, thanks! See your pull request, awesome work, look forward to using it!

[2016-08-10 22:47] #74 closed

[2016-08-10 22:49] nfischer commented on #74
@buildbreakdo This should be in v0.1.3 available on npm.

[2016-08-11 01:55] nfischer commented on #68
I probably won't have the time to fix up that ShellJS issue, but if anyone else wants to take it up, feel free.

[2016-08-14 19:01] buildbreakdo commented on #74
@nfischer Thanks for this!

[2016-08-21 02:37] nfischer commented on #73
Fixed by #78

[2016-08-21 02:37] #73 closed

[2016-10-10 02:15] nfischer opened #80 "Commands should accept stdin"
Currently, it isn't possible to do something like `cat file.txt | shx grep 'foo'`. It looks like shx isn't passing stdin along to the ShellJS command (although most commands actually support this).

This is currently blocking my work on shelljs/shelljs#525 (I'd like to replace `.exec('grep...')` with `.exec('shx grep...')`).

This should be an easy fix, if someone wants to take it up. Looks like w

[2016-10-10 04:30] levithomason commented on #80
With my plate, it will be while before this comes to the front of line for me.  Whoever is able to take it I say go for it.

[2016-10-10 14:45] ilja903 opened #82 "Add -u flag support for cp"
Hello!

It would be great if someone could add -u flag support for cp command.

Right now output is following:

cp: option not recognized: u

Thanks in advance.

[2016-10-10 17:32] nfischer commented on #82
@ilja903 could you please reopen this as an issue against shelljs proper? That's where we add features for this sort of thing. This should be possible though. Thanks!

[2016-10-10 19:22] ilja903 commented on #82
Hi!

Reopened it here: https://github.com/shelljs/shelljs/issues/526

Maybe we should close this issue?

Thanks!

[2016-10-10 20:55] nfischer commented on #82
Looks perfect! I'll see if we can look into adding support in ShellJS. Closing this issue for now, so we can continue discussion on the other thread.

[2016-10-10 20:55] #82 closed

[2016-10-13 12:56] kirly-af opened #83 "Feature request: generic OR"
It would be very convenient to have a portable OR operator. I have no idea about the syntax, maybe a `--or` flag:

[code]

would execute:

[code]

[2016-10-13 15:35] nfischer commented on #83
Doesn't the built-in or operator work the same way? `||` Is supported on UNIX and windows, I didn't see any difference in its behavior as far as I remember

[2016-10-13 19:07] nfischer commented on #83
To clarify, I think this should be achievable with `shx cp foo bar || shx rm -r mightNotExist || someExternalCommand || ...`. The same should be the case with `&&`.

If this is supported by UNIX and Windows already, I'd rather defer to what the OS does. If this is inconsistent however, we can look at what it would take to put it in this project.

[2016-10-13 19:59] kirly-af commented on #83
My bad, I was convinced `||` didn't exist on Windows. It turns out it's definitely working.

[2016-10-13 19:59] #83 closed

[2016-10-14 00:18] nfischer commented on #83
No worries. Glad it worked out for you!

[2016-10-14 16:47] jdnichollsc opened #84 "List usb devices"
Hi guys,

What is the way to check the usb devices connected with shelljs?

Can I use **libusb**?

Thanks in advance, Nicholls

[2016-10-14 17:10] nfischer commented on #84
It looks like there are node modules that can handle that sort of thing. I would recommend using those instead of relying on shelljs for that (we have no "list USB" command). Feel free to close this issue if that answers your question

[2016-10-14 18:11] jdnichollsc commented on #84
Thanks my friend 👍

[2016-10-14 18:11] #84 closed

[2016-10-14 20:47] pierrebeaucamp opened #85 "piping from cat seems broken"
Hey,

I noticed that a lot of output gets missing when I pipe from `shx cat`. However, `shx cat` by itself seems to work fine.

Example:
[code]

For comparison:
[code]

I'm running `0.1.4`

[2016-10-14 21:54] pierrebeaucamp commented on #85
Hm I *think* that's because `shx` exits before it wrote everything to stdout. This seems to be related: https://github.com/mochajs/mocha/issues/333

[2016-10-16 02:35] nfischer commented on #85
I have a fix for this, based on the mocha solution. I'll upload later tonight. Thanks for reporting this and for doing great research on the issue!

Unfortunately, it meant rewriting our test setup a bit, so the diff is a little big. The tests themselves haven't changed in any way though.

This particular issue was difficult to write a test for, but I've verified on my local machine. If we really

[2016-10-16 11:31] pierrebeaucamp commented on #85
Thanks for the quick patch!

[2016-10-16 22:52] #85 closed

[2016-10-17 03:45] nfischer commented on #85
@pierrebeaucamp my pleasure. Thanks again for your help in tracking down the source of the bug.

We should have a new shx release out shortly, once I get through some of the other issues.

[2016-10-17 07:27] nfischer opened #87 "fs.existsSync is un-deprecated"
Confirmed by [this comment](https://github.com/nodejs/node/issues/1592#issuecomment-251770788). We should probably refactor our code to use the core API instead of our own implementation.

See #509

[2016-10-19 22:08] m0onspell opened #88 "Unable to use in postinstall script on Windows"
`package.json`:
[code]
Works fine on Linux. On Windows:
[code]

[2016-10-19 23:32] nfischer commented on #88
Does this work if you add shx as a dev dependency?

[2016-10-20 00:28] m0onspell commented on #88
It's already added as a dev dependency. I'll update my explanation.

[2016-10-20 03:15] nfischer commented on #88
First of all, you don't want to put `npm install shx &&` in there. If `shx` is a devDependency, it will already be installed by the time you reach postinstall (this is what I observed on Linux).

First thing I see is that `$(pwd)` won't work on Windows. That works on Unix because bash already expands it before `shx` sees it. So `shx` would see `ln -s /home/user/path/to/cwd node_modules/self` as it

[2016-10-20 14:43] m0onspell commented on #88
Hmm. How it can be already installed when `npm` don't installs `devDependencies` of package by default? Only `dependency` list of `xyz` package is installed when doing `npm install xyz`.
But I'll try that, whatever.
Also will run your tests on Windows and post results here.
I just wonder if there should be some note in the docs about this usage limitation?

[2016-10-20 15:13] levithomason commented on #88
NPM does install `devDependencies` by default, unless you have `NODE_ENV` set to production.  Then it only installs `dependencies`.  In that case, you can force it to install `devDependencies`:

[code]

Worth noting you can also force it to install production only as well:

[code]

[2016-10-20 15:18] m0onspell commented on #88
@levithomason that's what I said. And I don't want to force users of my package to make this kind of things:

So I have my postinstall script like `"npm install shx && ..."`

[2016-10-20 15:24] levithomason commented on #88
Hm. If you're package depends on `shx` and you're installing it manually when a user installs your package (postinstall), why not add it to `dependencies` instead and remove the manual `postinstall` install?

[2016-10-20 18:43] m0onspell commented on #88
It's hard to tell whether its'a devDependency or just dependency. For me `dependencies` are libraries which my package uses on runtime. But in that case I'll probably will just add it to `dependencies` to simplify `postinstall` script, however it won't fix the issue.

That's right, they will have to do even more and `cd` to my package root folder beforehand, so I never considered that variant.

@n

[2016-10-20 18:43] #88 closed

[2016-10-20 19:45] levithomason commented on #88
There is no guarantee that your module will be at `node_modules/self`.  NPM 2 and 3 install modules differently, also if there are any version conflicts between modules, then NPM 3 will also install recursively nested `node_modules` to support multiple versions of the same module.

In order to find the location of a module, you should use `require.resolve(`my-module`)` which will return the absolu

[2016-10-21 01:06] nfischer commented on #88
@levithomason `node_modules/self` is a folder he's creating in his postinstall script, not via installing a package dependency. Since npm is out of the picture here, I think it's safe to rely on this behavior.

Sorry, I was thinking of running `npm install` locally in the git repo (with default configuration). I forgot about the case where you're releasing it to users. Shx should indeed be a regul

[2016-10-24 06:20] nfischer commented on #87
I have a fix for this

[2016-10-27 23:27] nfischer opened #90 "chore: add node v7 to CI"
v7 is available on `nvm` now, so we should make sure it's added to CI when possible:
- [ ] Travis
- [ ] Appveyor (not sure if it's available yet)

@levithomason can take this, otherwise I'll get to it in a few days.

[2016-10-30 22:24] #80 closed

[2016-10-31 22:32] levithomason commented on #90
@nfischer Please consider me on hold for this project.  I have not current usage or need for it and am tied with other work.  Apologies for the lack of availability.

[2016-11-01 01:16] nfischer commented on #90
Sure thing

[2016-11-01 07:52] #87 closed

[2016-11-02 04:17] #90 closed

[2016-11-04 17:08] McPo opened #94 "cp -r fails after 72 directories (Many files)"
Im attempting to copy node_modules to a build directory for packaging into an electron application.

It appears that shx silently fails after 72 items.
I checked to make sure it wasn't hiccuping on the last directory it copied 'history', by deleting 'history'. The next alphabetical directory was then copied but no more. ie I think theres a limit on the number of items that can be copied.

[code]
w

[2016-11-04 17:24] nfischer commented on #94
Can you provide a directory structure this repros for? I can't repro on my Linux machine. Thanks

[2016-11-04 17:32] McPo commented on #94
Heres my node_modules directory

https://drive.google.com/file/d/0B3Hzs-LoXgdkUDl3NmVJVmxOSDQ/view?usp=sharing

Then to reproduce the issue:

[code]

Not all files will be copied.

[2016-11-05 19:30] nfischer commented on #94
Confirmed. This is a bug upstream at ShellJS. Closing this here and refiling as shelljs/shelljs#547

[2016-11-05 19:30] #94 closed

[2016-11-13 18:28] Ungolianth opened #95 ""shx cp" does not finish on Unix-Systems"
The following command is part of my "postinstall"-routine in `package.json`:
[code]

With v0.1.4 everything is working fine, but after updating my dependencies (shx v0.2.0) `npm install` would not finish on travis or my buddies OSX; while i had no trouble running the script on windows.

----------------------------------
Edit:
`package.json` and other stuff can be found [here](https://github.com/s

[2016-11-13 21:02] nfischer commented on #95
Hmmm this is strange. I'll investigate sometime this week.

Does the command work if you install shx globally?

[2016-11-13 21:18] Ungolianth commented on #95
I just fetched the repo on my own mac und everything is working fine with shx 0.2.0 (global and local).

It seems to be something strange in combination with the maven build environment. I'll setup maven tomorrow and have post my findings...

[2016-11-14 06:08] nfischer commented on #95
@Ungolianth thanks for investigating. If we can pinpoint the issue of this, I would be interested in working on a workaround or a fix. Let me know if I can of help during the investigation.

[2016-11-14 06:10] nfischer commented on #95
Looks like we're [already testing `cp`](https://github.com/shelljs/shx/blob/master/test/specs/cli.js#L109-L116). If there's a way we can better test this, feel free to send a PR.

[2016-11-14 06:38] nfischer commented on #95
Hmmm... I'm running into this issue on my local machine now. It seems to be any command that isn't receiving piped input.

I see an issue when I run

[code]

This is possibly a regression caused by #89.

[2016-11-14 07:00] nfischer opened #97 "chore: switch appveyor to my account"
appveyor is still under Ari's account, which I don't have access to, so I can't restart failed builds.

I already have an appveyor account under the "shelljs" username, I just need to actually get around to switching this over.

[2016-11-14 07:20] nfischer commented on #95
It looks like `process.stdin.isTTY` doesn't always work exactly how we want. We should look carefully for a good alternative. Ideally, we want a way to read all of stdin, or throw an exception if stdin is not being written to.

[2016-11-15 23:12] nfischer commented on #95
After thinking about this for a bit, the best quick-fix I can come up with is this:

 - if a command never reads from stdin, don't attempt to read from stdin (ex. `shx rm ...`, `shx cp ...`)
 - if a command can read stdin but has file as arguments, don't read from stdin (ex. `shx cat file1.txt file2.txt`, `shx sort file.txt`)
 - if a command can read stdin and is missing a filename argument, then

[2016-11-18 18:01] bhousel commented on #95
I noticed that shx is just hanging under Cygwin and git bash shell for Windows.  Is this the same issue?

[2016-11-18 19:05] nfischer commented on #95
@bhousel #98 should fix this. Feel free to leave comments on it if you see any issues, otherwise I'll release it tonight as a patch

[2016-11-18 19:10] nfischer opened #99 "chore: consider allowing iojs failures on travis"
I've noticed that iojs seems to be failing often on Travis, usually due to `nvm` issues. We should probably consider allowing failures for iojs builds until things get consistent. Because we're testing on v0.12 and v4, it's pretty unlikely that those will pass but we'll get actual failures on iojs.

This way we can continue supporting iojs, but won't be bogged down by flakiness on the travis machi

[2016-11-19 07:15] #95 closed

[2016-11-22 23:14] binki opened #101 "--help should list options"
If I run `shx -h` I don’t see, for example, documentation about `--noglob`. It’d be helpful if that was documented there for.

I tested in a1faf54d6902954d904099e0cb9760395b805383 (v0.2.1) and it doesn’t appear to be there.

[2016-11-22 23:25] nfischer commented on #101
Yeah, this would probably be a good thing to add support for here. We should modify the help string to start with a header like

[code]

and explain what those two different types of options are. Then we can iterate over `shell.config`'s properties to show all the `shx-options`.

We might want to eventually implement `help` as a ShellJS plugin, so that it can take command names as arguments. Then

[2016-11-22 23:32] nfischer commented on #101
For this issue, let's aim for the following:

 - [ ] change the help string header like I described
 - [ ] add a section in the help output to list `shx-options` such as `--noglob`, `--silent`, `--verbose`, etc.

This should be a reasonable community contribution if someone wants to try it. We'll leave the rest for future work.

[2016-11-30 22:05] bhousel commented on #95
Thanks for the quick fix!  I can confirm 0.2.1 is working great 👍

[2016-11-30 22:09] nfischer commented on #97
Here's a relevant link to setting this up for a shelljs-org account: http://help.appveyor.com/discussions/questions/1154-appveyor-account-for-github-organizations

That's probably the best way available. This would also involve changing the CI endpoint for shelljs/shelljs.

[2016-12-06 05:12] nfischer opened #102 "chore: remove lgtm.co"
The service appears to have been taken down (see [lgtm.co](https://lgtm.co)). So we should:

 - [x] remove the hooks for PRs
 - [x] remove the lgtm-related files (`.lgtm` and `MAINTAINERS` should be the only ones I think)

[2016-12-11 16:09] corysimmons opened #103 "JS usage?"
I only see CLI and npm script usage. Is ShellJS for JS and shx is for CLI?

[2016-12-12 17:41] nfischer commented on #103
Yeah, that's the idea. Shx exposes ShellJS implementations to the commandline.

- ShellJS: good for writing long scripts, all in JS, running via NodeJS (`node myScript.js`)
- Shx: good for writing one-off commands in npm package scripts (like `"clean": "shx rm -rf out/"`)

[2016-12-12 17:42] nfischer commented on #103
Closing this for now. Ping this thread if you need further clarification 😄

[2016-12-12 17:42] #103 closed

[2016-12-12 19:53] corysimmons commented on #103
Nice, thank you.

I just noticed there is a spot for this in the ShellJS README. Maybe add exactly what you wrote above in this README as well? I ended up here because ShellJS was like "USE SHX FOR COMMANDS" and I was like "I want commands!" then I got here and was like "Wait, how is this different from ShellJS?"

[2016-12-12 21:54] nfischer commented on #103
@corysimmons if you have some idea of what would make the docs more helpful, I'll gladly look over a pull request :smile:

[2016-12-13 14:32] corysimmons commented on #103
haha, no problem.

https://github.com/shelljs/shx/pull/104

[2016-12-15 03:37] freitagbr opened #105 "Add "true" and "false" commands"
I think it would be helpful to add the unix `true` and `false` commands to `shx`. I don't know if these should be added to ShellJS itself, or simply parsed out and interpreted directly in shx, though I think I'd lean toward the latter.

[2016-12-16 18:47] nfischer commented on #105
Might be good to implement those two as one shelljs plugin.

What's the use case for shx? Is it just to do something like:

[code]

to avoid the ugly npm error message without using `--silent`?

[2016-12-23 14:53] bardiharborow opened #108 "sed does not accept input from pipes"
`shx echo hello | shx sed 'hello' 'hola'` crashes with `sed: no files given` despite the `sed` command [appearing to accept](https://github.com/shelljs/shelljs/blob/master/src/sed.js#L39) input from pipes.

[2016-12-26 06:00] nfischer commented on #108
Thanks for reporting this! What version of shx are you using? This was a recent feature in shx

[2016-12-26 08:15] bardiharborow commented on #108
Ah. Stupidly I was running an older version, but this still occurs in 0.2.1, though with a slightly longer error.

[code]

[2016-12-27 02:24] nfischer commented on #108
I see no issues:

[code]

Remember the correct `sed` syntax on the newer versions of `shx` (`sed` was broken on older versions)

[2016-12-27 02:24] #108 closed

[2016-12-27 02:27] #102 closed

[2016-12-27 04:07] bardiharborow opened #109 "sed does not accept a blank replacement string"
After upgrading to shx 0.2.1, i.e. a version with the fixed sed syntax, I can't replace strings with a blank string. The issue is likely in [these regex](https://github.com/shelljs/shx/blob/master/src/shx.js#L65-L69).

[code]

[2016-12-27 04:16] nfischer commented on #109
Ah, I can reproduce `shx sed 's/bar//'`. Everything else is working as intended. Thanks for reporting this, I'll look into it.

[2016-12-27 07:15] nfischer opened #111 "feature request: --version"
It'd be handy to add `--version` to the `shx` binary:

[code]

This is handy when using `shx` globally (which is the easiest way of reproducing bugs).

[2016-12-28 03:40] #99 closed

[2016-12-28 03:43] #97 closed

[2016-12-29 22:08] scottmas opened #112 "Command substitution feature"
To write reasonably complex cross platform scripts, command substitution helps a ton. As a trivial example in package.json
[code]
I'm not familiar with the internals of shx, but it does seem like this could be tricky because it would require starting up potentially many sub-shells.

[2017-01-02 06:09] nfischer commented on #112
@scottmas Thanks for the feature request!

While I agree this feature would be awesome, I think it may be a bit out of the scope of this project. Here are some recommended workarounds though:

 1. For trivial examples like the one above, you don't even need subshells: `shx rm -rf node_modules/` will work just fine :smile:
 2. For trickier cases, you can write short scripts with shelljs:

[code]

[2017-01-08 02:59] #109 closed

[2017-04-11 14:44] LoganDark opened #113 "can we use this without the `shx` prefix?"
For something like NodeOS which has no coreutils.

[2017-04-11 20:40] nfischer commented on #113
Unfortunately no. You can look into cash and see if that solves your issue

[2017-04-11 20:40] #113 closed

[2017-04-11 23:08] LoganDark commented on #113
Wth is cash

[2017-04-12 05:21] nfischer commented on #113
https://github.com/dthree/cash

[2017-05-06 01:03] nfischer commented on #112
I'm going to close this. I think tricky cases can be reasonably handled with ShellJS scripts.

[2017-05-06 01:03] #112 closed

[2017-06-03 01:30] nfischer opened #114 "Add node v8 to CI"
See shelljs/shelljs#729

[2017-06-04 05:27] #114 closed

[2017-06-21 06:28] nfischer opened #116 "Refactor: consider using process.exitCode"
We should consider replacing [the code here](https://github.com/shelljs/shx/blob/master/src/cli.js#L14) with setting `process.exitCode = code` to simplify things. I don't think it'll change robustness, but it's probably the better way of doing things. Thanks to @bruce-one for pointing me toward this API.

[2017-07-12 23:27] danielbayley opened #117 "Fails trying to utilise the new script-shell npm config"
The release of npm 5.1.0 [introduced] the ability to set a different shell for running package.json `scripts`, so I thought a cool idea would be to do:
`npm config set script-shell node_modules/.bin/shx`…

But for some reason it doesn't work and I'm not sure why?
[code]
[code]
[code]

If this worked I could finally [almost] pretend Windows doesn't exist as far as npm `scripts` are concerned, witho

[2017-07-17 04:49] nfischer commented on #117
I agree with @danielbayley's [comment](https://github.com/shelljs/shx/pull/118#issuecomment-315641219). dthree/cash is a better solution for this, so I'm closing this issue.

[2017-07-17 04:49] #117 closed

[2017-07-30 06:16] ilyaigpetrov opened #119 "Feature: Symbolic Links"
I need to create a symbolic to a relative folder. Here is how I do it with windows in mind:
[code]

[2017-08-03 21:19] nfischer commented on #119
`ln -s`?

[2017-08-04 08:30] ilyaigpetrov commented on #119
@nfischer, right, `ln -s`.

[2017-08-04 16:11] nfischer commented on #119
No, I mean `shx ln -s foo bar` should work, does it not?

[2017-08-04 16:32] ilyaigpetrov commented on #119
Yes, it works on Linux, Windows yet to test. Couldn't find any documentation about it. Thanks.

[2017-08-04 17:01] nfischer commented on #119
Documentation is under the shelljs repo. If `shell.ln('-s', 'foo', 'bar')` doesn't work on Windows, please file a bug against that repo.

[2017-08-04 17:01] #119 closed

[2017-08-15 19:53] mccambridge opened #120 "echo <date>"
Any chance of echo supporting date strings cross-platform?

[code]

That returns a date on my Mac but not in Win.

Thanks!

[2017-08-17 07:00] eteeselink opened #121 "Discuss: popd/pushd workarounds"
The README says that popd and pushd can't be used and don't have a workaround, but for many basic cases there is: Windows accepts forward slashes when you quote the path. So:

    $ pushd "../backend" && some_program && popd

works the same on Windows and *nix. I'm not sure how well it'd work with expanding environment variables though, but I bet that for basic package.json oneliners you often don

[2017-08-18 09:29] nfischer commented on #121
`pushd` and `popd` are supposed to change your working directory (similar to `cd`), which involves modifying your shell process. `shx` (like all node programs) runs in a child process, so it is unable to modify its parent process. No matter how hard `shx` tries to change the working directory, that change will not carry through to the shell.

You can try this out at home:

[code]

[2017-08-18 17:50] eteeselink commented on #121
I'm well aware, but we're talking about `shx`, not shelljs. For `cd`, the README lists the following recommended workaround:

My point is that the same holds for pushd and popd. They're commands that work on both Windows and Unix, just like `cd` works on both. And that maybe we should add the fact that on Windows, when you double-quote the directory passed to `cd` or `pushd`, you can use forward s

[2017-08-19 09:42] nfischer commented on #121
Ah ok, this is news to me. If this is the case, then I agree that we should list them as workarounds just like `cd`. Feel free to send a PR.

Are double quotes required? [This stackoverflow](https://stackoverflow.com/questions/10523708/why-does-the-cmd-exe-shell-on-windows-fail-with-paths-using-a-forward-slash) seems to indicate that Windows `cmd.exe` has inconsistent support for forward-slash, ev

[2017-08-19 12:21] eteeselink commented on #121
PR made!

About the side-note: yeah, effectively invoking a batch file on Windows works like sourcing a script on Unix. The thing is that this means that you _could_ implement cd, popd, pushd and dirs inside shx on Windows. As long as the `shx` command is a batch file, it can change the working directory :-)

Not that I think there is any value to that, given that cd, pushd and popd work cross-pla

[2017-08-20 07:38] nfischer commented on #121
Anything's possible if you change the project 😜 In our case, we're a node module, so that will always run under a separate process.

[2017-08-20 13:21] eteeselink commented on #121
Well, shx is a node module started by a batch file on Windows :-)

(node_modules/.bin/shx.cmd to be precise).

But anyway, the point is moot because, a) we can't do the same on UNIX and b) there's no use because `cd`, `pushd` and `popd` are sufficiently cross-platform. And who needs `dirs` in a package.json script, right?

[2017-10-19 02:13] nfischer commented on #121
Fixed by #122

[2017-10-19 02:13] #121 closed

[2017-10-19 02:17] nfischer commented on #111
Also, we should probably include the version of the bundled shelljs:

[code]

[2018-01-12 14:49] mfulton26 opened #124 "Support executables"
I'd like to be able to add something like the following to my `package.json`:

[code]

This doesn't work on Windows though so I found `shx` but when I replace the script with `"shx jest --projects remote-*.config.js"` I get "jest is not a command".

I'd like to be able to use bash-like file pattern matching in my npm scripts. Could support be added to shx to run executable binaries as commands suc

[2018-01-12 21:58] nfischer commented on #124
Duplicate of #68.

To get this working, we really need to make an alternative API for `exec()`. I started a proof of concept in shelljs/shelljs#524 and now I'm trying to focus more time on finishing it. A goal for the alternative is to glob by default--when that happens, we'll update shx and add the new command to the whitelist.

[2018-01-12 21:58] #124 closed

[2018-01-18 03:13] nfischer opened #125 "Ship shx with shelljs@v0.8"
We should bump shx's dependency on shelljs up to v0.8.x and then cut a new release (v0.3). This is necessary to expose the latest shelljs features to shx users.

Before releasing, beware shelljs/release#5

[2018-01-18 03:15] nfischer commented on #105
@freitagbr any interest in creating `shelljs-plugin-true-false`? Do you think there's still a use-case for `shx true` and `shx false`?

[2018-01-30 21:44] #116 closed

[2018-02-06 20:06] backspaces opened #127 "Support cross platform environment variables"
Add a cross-env feature which resolves environment variables in a standard way.

Example: I like to use env vars so that configuration information can be stored in package.json. I believe the following will fail on windows but works fine on mac:
[code]

[2018-02-06 21:48] backspaces commented on #127
BTW: This works, but is pretty ugly:

.. but I don't have a windows environment to check this works there. It may simply work on mac/linux anyway.

[2018-02-07 00:24] nfischer commented on #127
Just to clarify, `npm_package_mkdirs` is an environmental variable?

---

#65 mentions the cross-env package too.

This sounds like a reasonable feature for shx (shelljs already exposes this under `shell.env.NAME_OF_VAR`). In general, shell variables can be quite complex due to string manipulation (I implemented a subset of bash-isms at nfischer/shelljs-transpiler#5).

If we want to support this,

[2018-02-07 01:06] backspaces commented on #127
Yes, the code above is part of my package.json which I used to store configuration information for scripts. Looks like this:

[code]

So in my use-case, I would like

To be expanded to

I think that would be the basic support case.

I'm not sure if you'd need a way to *set* env vars. I haven't run across that.

[2018-02-07 05:24] nfischer commented on #127
Oh, I see. I wasn't familiar that npm package attributes were set as environmental variables. Thanks for explaining.

Another thing we have to worry about: `$npm_package_mkdirs` could contain spaces, and POSIX shells would expand that into multiple words. We're a bit constrained here. We have no way to properly distinguish when the user passes quotes:

[code]

Would it be reasonable to support onl

[2018-02-07 05:36] #125 closed

[2018-02-07 17:46] backspaces commented on #127
I'm not sure what you mean by that. If it means my 3 dir example fails, then nope! :)

But seriously, I believe the usual expansion of $foo is simply the value, spaces and all, of the $foo env var. Your second examples is fine for when the spaces are really part of the file name.

As for spaces in the dir names, couldn't the programmer simply quote them like this:
`export foo='1 "2 3"'` which prod

[2018-02-07 18:19] backspaces commented on #127
To simplify:
* I would look into how node handles env vars:
   https://nodejs.org/dist/latest-v8.x/docs/api/all.html#process_process_env
* And have shx replace $foo with the string process.env returns, within the shx command string.

[2018-02-08 03:43] nfischer commented on #127
export foo='1 "2 3"' which produces: echo $foo => 1 "2 3"

Try this:

[code]

Side note: this is why bash has arrays. But you can't put arrays in env vars, so that isn't useful for shx.

Non-env vars are infeasible: these are scoped to the current shell, so shx (which runs as a subprocess) can't look-up their value.

The issue is that `npm` runs scripts in a shell (`/bin/sh` or `cmd.exe`). Shells

[2018-02-08 18:02] backspaces commented on #127
Sigh. Brilliant explanation, thank you.

My current solution uses `cross-env-shell`, in the second post above. I wonder how they handle it? We could check their code.

But I believe their problem is different: they mainly convert between $foo and %foo% formats and they let the unix/windows shells handle it.

Historically: I got here by initially using bash backticks to create arguments for command

[2018-02-08 18:04] backspaces commented on #127
Hmm. Just a thought: would backticks be easier to implement than env vars?

[2018-02-08 21:39] nfischer commented on #127
They're accepting a full command string. So `process.argv` looks more like `['shx cp $files "$dest"']` instead of `['cp', '$files', '$dest']`. The tradeoff is that they need to do all the parsing that a shell would normally do, but they get to see exactly what the user typed.

Not exactly our purpose. We're trying to expose shelljs command implementations to the CLI, not execute arbitrary commands

[2018-02-08 23:24] backspaces commented on #127
Nice approach! I may do that.

I use shelljs in nearly all my node utilities. Like the es6 usage, thanks. And didn't know I could require a json file, that *is* cool.

[2018-02-09 07:09] nfischer commented on #127
Yeah, unfortunately it seems like there's no obvious way to support env variables without running into these edge cases. It's a good feature request, and it would've been really nice if we had a path forward.

For tough cases (and this appears to be one) we still need to resort back to ShellJS. While a short script isn't as elegant as a shell one-liner, it offers more flexibility and power.

[2018-02-28 16:14] itaysabato commented on #127
@nfischer I would guess upwards of 90% of use-cases are super simple single word variables, e.g. `$OPTION` that would resolve to `true` or `false` or some path without spaces.

Can we not start with this very simple support and work our way up to more complex edge cases as we go? The limitations can be documented and the edge-cases can be addressed incrementally.

I think this is a great tool and

[2018-02-28 23:12] nfischer commented on #127
The issue is that supporting that case would break other cases. Basically, `cp '$foo.txt'` would behave differently than `shx cp '$foo.txt'`, which may surprise users.

Yes, we can document our behavior. But just to reiterate, we cannot address edge cases incrementally: we face fundamental limitations which are impossible to resolve.

If we were to implement this, the best case we could achieve is

[2018-03-02 22:02] backspaces commented on #127
@nfischer: btw, the example you show of `for file in $foo; do echo $file; done` is the bane of bash programmers. I.e. spaces in any name is a nightmare. Even for bash.

How do bash programmers solve it? A common solution is `read`

I know I typically do that:

b c' | while read file; do echo $file; done

Produces:

b c

For files, consider this directory, bar with two files "a" and "b c"

a
b c

A

[2018-03-27 16:19] Rundik opened #128 "Copy a folder"
How to copy a folder with this?
I tryed `shx cp ./dist ../../site/public` and it doesn't work.

[2018-03-27 22:59] nfischer commented on #128
Try `cp -r`?

Please look at the [shelljs docs](https://github.com/shelljs/shelljs#cpoptions-source_array-dest) (for this and other methods). If that doesn't answer your question, I'm happy to provide further clarification.

[2018-03-27 22:59] #128 closed

[2018-06-07 14:51] exKAZUu opened #129 "`shx echo -n aaa` shows `-n aaa`"
### Node version (or tell us if you're using electron or some other framework):

v9.11.1

### Shx version (the most recent version/Github branch you see the bug on):

0.2.2

### Operating system:

Windows 10

### Description of the bug:

`shx echo -n aaa` shows `-n aaa`.

[2018-06-07 20:18] nfischer commented on #129
Can repro. I'm guessing from https://github.com/shelljs/shelljs/issues/855 that this is a bug in `shx` code.

I have no issue using `shx rm -f ...`, so this only affects `echo`? Strange...

[2018-06-07 20:59] nfischer commented on #129
Confirmed this works on master. I'll cut a new minor release.

[2018-06-08 01:24] exKAZUu opened #130 "Proposal for adding `true` command"
There is no `true` command on Windows. Although some workarounds exist, I feel `shx true` is convenient.

[2018-06-08 04:55] nfischer commented on #130
Thanks for the request! This is a duplicate of #105, so I'll close in favor of that issue. @exKAZUu could you provide some example use-cases on that issue?

[2018-06-08 04:55] #130 closed

[2018-06-08 05:31] nfischer commented on #129
Released in v0.3.0 :tada:

[2018-06-08 05:31] #129 closed

[2018-06-08 06:01] nfischer opened #132 "Appveyor config broken for latest npm"
See https://github.com/shelljs/shelljs/issues/844 for details.

[2018-06-08 06:10] nfischer opened #134 "Lots of warnings when installing"
When I do a fresh install, I see tons of install warnings (due to deprecated packages):

[code]

---

Of these issues, `graceful-fs` is probably the most pressing (updating `codecov` resolves this).

[2018-06-08 07:15] exKAZUu commented on #129
Confirmed it works well. Thanks!

[2018-06-10 00:18] exKAZUu commented on #130
@nfischer Sorry for making a duplicated issue.
In my use case, I'd like to use Windows-specific command like `mklink` on a cross-platform project and I'd like to use `true` command in my npm script in order to prevent errors on non-Windows environment.
Btw, the behavior of `mklink /d` and `ln -s` seems different. Is it expected? (So I need to use `mklink`)

[2018-06-11 17:42] nfischer commented on #130
@exKAZUu I'm not familiar with `mklink`, so I'm not sure if this is a bug in our end. Could you give examples for how `shx ln -s` and `mklink /d` differ?

[2018-06-12 02:42] exKAZUu commented on #130
@nfischer
`shx ln -s` creates a junction link, in contrast, `mklink /d` creates a symbolic link.
However, I now notice `shx ln -s` is better than `mklink /d` in our use case. Sorry.

Btw, I've investigated the link mechanism on Windows.
For your reference, I'll explain the differences.

There are three kinds of links on Windows as follows. The third page summarizes them.
https://www.2brightsparks.

[2018-06-12 18:11] nfischer commented on #130
@exKAZUu thanks! Yes, the junction link is intended behavior, this was merged into shelljs a long time ago (https://github.com/shelljs/shelljs/pull/87 and https://github.com/shelljs/shelljs/pull/104).

[2018-06-16 12:21] pithyless opened #136 "Regex support for forward slashes in sed"
`shx v 0.3.0`:

I'm trying to build a cross-platform npm-script and I'm seeing an issue with directory path separators (unix `/` vs windows `\`). I thought I could use `sed` as a workaround, but hit the following issue:

[code]

[2018-06-21 05:10] nfischer opened #140 "test timeout: "works with commands with no output""
I saw this timeout on travis: https://travis-ci.org/shelljs/shx/jobs/394424558

Should investigate and possibly increase timeout.

[2018-06-21 06:48] nfischer commented on #140
Travis wipes old data when you rebuild. But, it was indeed a timeout.

[2018-06-22 16:05] cyrilchapon opened #141 "curl / wget"
hey :)

I'm using shx for most administrative tasks in my package.json scripts.

I'm writing a serverless function, and I'd like to test it brutally through a curl request.

I'm facing the issue of not-writing-a-script-just-for-this, and I'd like to do this portably (env agnosticly).

I think this would be a great addition to have a curl / wget - like commend 😄

[2018-06-22 16:08] cyrilchapon commented on #141
Sorry, added a +1 inside shelljs

[2018-06-22 16:08] #141 closed

[2018-06-22 21:41] nfischer commented on #141
Glad you're liking shx/shelljs so far :smile:

In the case of curl, I would recommend just installing that yourself (it's a binary, and supports both windows and unix if I recall). Otherwise, I think there are npm modules for curl functionality which shouldn't be too hard to use.

[2018-06-26 04:56] #136 closed

[2018-06-26 05:07] nfischer commented on #136
@pithyless fix is released in v0.3.1, let me know if you find any related bugs.

[2018-07-04 00:48] nfischer commented on #68
Merging into #65 (the fix for both is to use `shell.cmd()` when it's finished).

[2018-07-04 00:48] #68 closed

[2018-07-04 01:10] nfischer commented on #134
Last thing to fix is:

[code]

The correct fix is to move this to `prepare` script. Unfortunately, we still support npm@2, and so we'll need to use both `prepare` and `prepublish` until we drop it (I think npm@4 is the first version with `prepare`).

[2018-07-05 05:56] nfischer opened #144 "Mocha and babel compiler warnings"
I see the following output when I run `npm test` on node v4.8.7 and npm 5.8.0:

[code]

We should find a way forward without the `--compilers` flag. The deprecation notice says this is only a warning, so we may have a different problem related to the "Transformation errors".

This blocks #142.

[2018-07-05 07:07] nfischer commented on #144
Culprit: PR #135

---

The `--compilers` warning happened when we bumped `mocha` to `^5.2.0` (not sure exactly which version). This is easy to fix (the deprecation link has clear instructions).

---

The `Transformation error` messages started with `nyc` `^12.0.0` (but are not present on `^11.0.0`). The quick fix is to downgrade `nyc`.

[2018-07-05 07:21] nfischer commented on #144
The answer to the nyc issue is in the [changelog](https://github.com/istanbuljs/nyc/blob/master/CHANGELOG.md). nyc@11 is the last release with node v4/v5 support.

[2018-07-10 07:34] #144 closed

[2018-07-10 21:35] #101 closed

[2018-07-10 23:16] #105 closed

[2018-07-11 01:46] nfischer opened #146 "Remove es6-object-assign dependency"
We currently use es6-object-assign here:

https://github.com/shelljs/shx/blob/57b58afd9ee59b224d537a7121e0f858e520b858/src/shx.js#L9-L10

We currently support node >= v4, so this feature should be [supported natively](https://node.green/#ES2015-built-in-extensions-Object-static-methods-Object-assign) since 4.0.0.

[2018-07-22 18:47] andrewvarga opened #147 "sed: option not recognized: n"
It seems using sed works nicely, but if I also want to use the silent argument (-n or --quite or --silent), its giving me this error:
sed: option not recognized: n

[2018-07-23 03:14] nfischer commented on #147
This option is not currently supported, but it's an excellent feature request.

[2018-07-23 03:30] nfischer commented on #147
Filed this upstream at https://github.com/shelljs/shelljs/issues/877

[2018-07-23 03:30] #147 closed

[2018-07-23 03:34] nfischer opened #148 "Chore: create an issue template or contributing guidelines"
We occasionally get issues filed at shx which are best directed at shelljs. It would be nice to have an issue template, or contributing guidelines, to instruct users to consider filing their issue at shelljs instead. Of course, some issues deserve to be directed here at shx.

[2018-08-21 20:45] AaronNGray opened #149 "wildcards not working on mv"
The following is not working :-

    shx mv test/*.js test/*.mjs

getting the following error :-

    mv: dest is not a directory (too many sources)

[2018-08-22 20:39] nfischer commented on #149
This is expected behavior, so I'll close this (but I'm happy to answer further questions).

---

Unix and Windows handle glob (wildcard) expansion differently. I think this [blog post](https://blogs.msdn.microsoft.com/dancre/2005/05/15/the-difference-in-wildcard-expansion-between-windows-and-unixmacintosh/) has a pretty good explanation. TL;DR Unix shells expand globs before launching the command,

[2018-08-22 20:39] #149 closed

[2018-11-13 05:18] nfischer opened #151 "Implement help as a plugin to show detailed command help"
Branching off from #101. It would be cool to implement `shx help` as a ShellJS plugin, and let this show help output at a finer granularity:

[code]

Not sure if there's a good way to do this right now without parsing ShellJS docs. But we could certainly support

[2018-11-29 11:54] #146 closed

[2018-12-06 02:05] FredLackeyOfficial opened #158 "sed does not replace in files"
No combination of regex or separate strings works for replacing a string in a series of files.

My goal is to change this file...

    module.exports = function (sequelize, DataTypes) {
      return sequelize.define('address_line', {
      });
    };

... to this ...

    module.exports = (sequelize, DataTypes) => {
      return sequelize.define('address_line', {
      });
    };

The command I'm

[2018-12-07 03:13] nfischer opened #159 "sed should be silent if '-i' is provided"
[code]

We could arguably make the change in shelljs itself (which would help `n_shell`).

[2018-12-07 03:17] nfischer commented on #158
You need to escape the `(` and `)` in the regex part.

[code]

`shx sed` isn't quite a drop-in replacement for unix `sed`. Contributions are welcome, however.

[2018-12-07 03:17] #158 closed

[2018-12-07 03:18] nfischer commented on #158
^ Closing for now, since I think I've answered your question. For the time being, I think it's easier to just live with `shx sed`'s quirks until we can make a more-complete `shell.sed()` in ShellJS.

[2019-02-15 16:52] chadbr opened #160 "rm -rf random fails on windows"
Hello --

I've recently starting using shx on Windows.

When I try to use `shx rm -rf dist`

I get random failures
[code]

am I doing something wrong?

Thanks, Chad

[2019-02-16 01:08] nfischer commented on #160
Not sure what this would be. What's the relation between `somedir` and `dist/data`? Which of these directories actually exist on disk? Anything weird with permissions, or any chance these are links/shortcuts?

[2019-02-18 13:06] chadbr commented on #160
@nfischer sorry - I should have just left it `dist` -- I was trying to generalize and only got 1/2 way.

Anyway - the output is just typescript compilation output. Javascrtipt / json / etc. in a directory structure that corresponds to the source files.

Nothing special. And as I say, it's very random. Maybe ... 20% of the time it happens?

Is there maybe a debug or detailed trace flag I can set to

[2019-02-18 23:21] nfischer commented on #160
Could you try writing a shelljs script like so?

[code]

[2019-02-20 22:52] chadbr commented on #160
I'm going to close this for now -- I'm about 90% sure it's vscode locking up folders...

Sorry for the noise!

[2019-02-20 22:52] #160 closed

[2019-02-20 22:52] chadbr commented on #160
Great tool by the way!

[2019-02-25 06:02] nfischer commented on #160
Glad you find it helpful! If this repros again, feel free to reopen.

[2019-07-02 19:31] backspaces opened #162 "lower case "ls" with mixed case fails with internal caps"
TLDR: I want to list only the files that are all lower case .js files via:

This works fine for skipping files that start with a Capital letter (TitleCase), but not with files with an internal Capital letter (camelCase).

Details:
The contents of the dir initially looks like:
[code]
And shx ls '[a-z]*.js' works as expected:
[code]

But if we now add a camelCase file:  `touch fooBar.js`, the above

[2019-07-02 20:05] nfischer commented on #162
I think this is WAI. `shx ls '[a-z]*.js'` means "list all files which start with a lower-case letter, are followed with zero or more characters, and end with '.js'." This seems to be the behavior you're seeing.

**Note:** `shx ls` does not support _regex_, it supports [glob](https://github.com/isaacs/node-glob#glob-primer) patterns. So `*` means "zero or more of anything" rather than "zero or more

[2019-07-02 21:27] backspaces commented on #162
Very clear, thanks.

[2019-07-02 21:27] #162 closed

[2019-07-02 23:55] backspaces opened #163 "shx grep -v adds extra newline"
Certain uses of grep appear to add extra newlines.

Ex:
Try something like this:

It acts as expected, producing strings with a single \n for each line.

But

appears to add a second newline at the end of the set of strings.

This can be explicitly seen in node:
[code]

[2019-07-03 00:04] backspaces commented on #162
Note: here's a solution for finding just the all-lower case filenames: `grep('-v', '[A-Z]')`

[2019-07-03 03:45] nfischer commented on #163
Yeah, I can repro. Seems like a bug in `grep()` rather than `ls()`.

[code]

PRs are welcome for https://github.com/shelljs/shelljs (it seems the bug is there, rather than in this project).

[2019-07-29 18:13] stevendesu opened #164 "Issues running NPM script on Windows 10"
Further research may be necessary to determine the exact cause of the issue. If you have trouble reproducing, I'm willing to provide any additional information to help out.

My environment:

 - Windows 10
 - Node v10.9.0
 - NPM v6.2.0

My package.json looks like so:

[code]

They two key lines here are that `shx` is installed (and can be found in the `node_modules` directory) and the `clean` scrip

[2019-07-30 04:18] nfischer commented on #164
Sorry you're having cross-platform headaches :(

I'm not sure why you're having problems with package.json scripts (this is a supported use case)--at a glance, your package.json looks fine. On Windows, `npm` modifies the `%PATH%` to include `node_modules/.bin/`, which should contain a script named `shx.bat` (a small wrapper which invokes node, passing our declared "binary" file as an argument). Ru

[2019-08-01 12:46] stevendesu commented on #164
Sorry for the delayed response. It will be some time before I can test this for you. Tuesday morning my wife and I went to the hospital to give birth to our new baby. Until Saturday I won’t be back home.

[2019-08-02 04:18] nfischer commented on #164
Congrats! :tada: :balloon:

[2019-08-05 01:02] crhistianramirez opened #165 "sed can't replace files in a different directory"
I'm trying to replace some text for a file in a child folder `/docs`.

I run this command:
[code]

And get the error: `sed: no files given`

I've confirmed this works on the command line. Steps to reproduce:
1. `git clone https://github.com/crhistianramirez/shx-bug-repro-sed.git`
2. `cd shx-bug-repro-sed`
3. `npm install`
4. `npm run bug`

[2019-08-12 03:06] nfischer commented on #165
Does it work correctly like this?

[code]

[2019-08-14 20:29] chriscarpenter12 commented on #164
Congrats! I'm seeing something similar on Windows 7 as well. Calling `shx` from `npx` isn't found, and it seems to not work calling `rm` but does with `mkdir`.

![Screenshot from 2019-08-14 16-26-45](https://user-images.githubusercontent.com/458486/63053782-8d8f2180-beb0-11e9-9188-ab72e1c73cf5.png)

[2019-08-22 02:18] crhistianramirez commented on #165
No, it does not. I get  the same error
[code]

[2019-08-23 03:32] nfischer commented on #165
Which operating system? I can't repro on Linux.

[2019-08-23 13:25] crhistianramirez commented on #165
Ah, I'm using Windows 10

[2019-08-23 21:14] nfischer commented on #165
Can you check if the corresponding shelljs method call works? I don't have a windows box to repro.

[2019-08-24 03:31] crhistianramirez commented on #165
Made one more commit - https://github.com/crhistianramirez/shx-bug-repro-sed.git

and was not able to reproduce with shelljs. The following code successfully replaces the text as I expect it to:

[code]

So it looks like it has to do with how the parameters are getting passed to the cli. I'll see if I can dig into that code a bit more over the weekend.

[2019-08-25 16:22] crhistianramirez commented on #165
Tracked this down to a bug with how minimist is parsing the arguments. I've submitted a [bug report](https://github.com/substack/minimist/issues/139) but note that the last commit to that repository was 4 years ago. We could probably handle this on our end by checking if its window and if it is, stripping out the additional characters.

This command: `shx sed -i 's/globals.html/index.html/g' docs/

[2019-09-10 05:25] KSXGitHub opened #166 "env command"
I wish to convert this verbose command:

[code]

to this:

[code]

[2019-10-02 07:05] nfischer commented on #166
Can you give a concrete example? Most shelljs commands do not examine environmental variables, and it's not clear which case you're actually hitting.

[2019-10-02 07:13] KSXGitHub commented on #166
@nfischer I think you misunderstand.

I don't need shelljs commands to read environment variables, I need a shelljs command that **sets** an environment variable and spawns a subprocess with that new environment variable (similar to UNIX's `env` command).

For example:

[code]

should print `foo bar`.

Also, UNIX's `env` without any arguments would print all environment variables (so yeah, it does

[2019-10-08 07:35] nfischer commented on #166
We only support executing ShellJS commands (so it wouldn't matter if we set env vars, those shelljs commands wouldn't use them for anything).

I believe this is a duplicate of #127.

[2019-10-08 07:35] #166 closed

[2019-10-10 20:09] brunolemos opened #167 "pushd not found on linux"
Any reason why not alias `pushd` to `cd` and `popd` to `cd -`? They seem to have the same behavior and `cd -` works great on linux (ubuntu at least).

Note: I did see the readme table and the other issue.

[2019-10-14 02:45] nfischer commented on #167
cd, pushd, and cd - all behave a little differently, so aliasing wouldn't really be correct.

The broader issue is we can't implement any of these in `shx`. These work by modifying the current working directory, which is just an environmental variable. However, `shx` runs in a subprocess, so it can't modify the calling shell's environment.

Not sure what you mean. pushd is a shell builtin in bash,

[2019-11-17 08:38] Venryx opened #168 "Doesn't seem to work for "prepack" lifecycle script"
I added `shx` as a dev-dependency for my fork of an npm module here: https://github.com/Venryx/mst-decorators

However, even with it in the dev-dependencies, when I run `npm install Venryx/mst-decorators` in another project, I get this error:
[code]

The problem seems to be that the dev-dependencies are only installed after running `npm install` in the `mst-decorators` folder -- not merely when my

[2019-11-19 08:30] wmertens commented on #168
`npm install` doesn't install the package's dev deps. Furthermore, `prepack` should only run before builing a tarball, so not as part of the install (https://docs.npmjs.com/misc/scripts).

So it's weird that it tries to run prepack without the dev dependencies.

[2019-11-20 03:20] nfischer commented on #168
I'm not familiar with `prepack`, but if this is an npm script you expect dependent modules to run, or as part of running `npm install`, then you need to add `shx` to the regular dependencies rather than dev-dependencies.

I don't think there's anything for shx to do here, so I'm going to close this out. Please ping this if I've misunderstood.

[2019-11-20 03:20] #168 closed

[2019-11-28 11:37] viT-1 opened #169 "sed: no files given"
can't `npm run resolvevue`

package.json:
[code]

[2019-11-28 11:38] viT-1 commented on #169
Same issue but not my variant https://github.com/shelljs/shx/issues/165

[2019-12-01 19:23] frastlin commented on #127
Can we just start with node_env? Pretty much every single user of this package will be using node_env sometime in their scripts, and it's a pain that on OSX and Linux it's 'node_env="production"' and on Windows it's 'set node_env="production"'.
[cross-env](https://www.npmjs.com/package/cross-env) solves this problem, but I would like a simple solution in shx.
Another option is if there are if stat

[2019-12-04 06:48] nfischer commented on #169
This looks like a dupe of #165. Single quotes don't work the same on Windows. Please ping this thread if I've misunderstood.

[2019-12-05 08:56] viT-1 commented on #169
@nfischer No, I'm searching text _contains_ single quotes.

[2019-12-06 05:47] nfischer commented on #169
At a glance, your code looks like it should work in that case (although I'm not sure if `dist/*.js` needs to be `dist\*.js` on Windows).

Which OS did you try this on?

[2019-12-06 06:56] viT-1 commented on #169
@nfischer Yeah, I'm trying on Windows.

[2019-12-09 00:06] nfischer commented on #169
I think you need to escape the `/` characters in your replacement string, otherwise `sed` treats them as special delimiters. This behavior is consistent with unix sed:

[code]

You should escape the characters with a "\" in the commandline like so:

[code]

To use this in a `package.json`, you need double `\` so JSON passes a single `\` onto `shx`:

[code]

[2019-12-09 00:08] nfischer commented on #169
Updating labels. I don't think this is Win-specific, and it's clear this is not really a duplicate of issue #165 despite the similar error message.

[2019-12-09 07:09] viT-1 commented on #169
Yes! This works:
`shx sed -i \"s/'vue'/'https:\\/\\/cdn.jsdelivr.net\\/npm\\/vue@2.6.10\\/dist\\/vue.esm.browser.js'/g\" dist/*.js`

[2019-12-09 07:10] #169 closed

[2019-12-09 08:48] nfischer commented on #165
Following up here to summarize the discussion, for future reference. **Be careful with single quotes.** Windows and unix treat single quotes differently and there's no way for shx to workaround this. Prefer double quotes instead when possible, even if that means escaping double quotes inside `package.json`.

[2019-12-29 07:37] meepeek opened #171 "Can I replace bash prompt with shx ? If so, how ?"

[2020-01-07 08:03] nfischer commented on #171
shx isn't a complete shell replacement, it's just a cross-platform reimplementation of standard unix commands.

If you're interested in a replacement shell, you could look at [cash](https://github.com/dthree/cash) (a POSIX-like shell implemented in JavaScript), zsh (a popular bash alternative), or fish (a non-POSIX-compliant shell).

[2020-01-07 08:03] #171 closed

[2020-01-16 10:01] DalderupMaurice commented on #167
I'm currently unable to use popd of pushd in my github actions commands, even when I set my shell to cmd, sh or bash (It seems to always execute /bin/sh popd, although I define bash). Any workaround to have these commands available on all platforms?

[2020-01-17 07:13] nfischer commented on #167
I think sh may not support pushd/popd (I tested with `/bin/sh` on Ubuntu, which is implemented by dash). So you'll probably need bash rather than sh. I don't know which shells Github actions supports. If Github actions supports Windows, then it should certainly support `cmd.exe`.

[2020-01-17 07:14] nfischer commented on #167
Closing this because I don't think shx needs to make any changes here, but feel free to keep discussing.

[2020-01-17 07:14] #167 closed

[2020-01-17 07:27] DalderupMaurice commented on #167
Yeahh I tried `cmd` and `bash` as shell in my github actions, but it still continued to use `/bin/sh`.
Anyway, it's probably an issue related to github actions itself.
For anyone wondering, I've used yarn to change shells (`yarn config set script-shell /bin/bash`) and everything is fine now.

[2020-02-01 21:16] martin-braun opened #172 "Support tail -f / -F"
`npx shx tail -f` or `npx shx tail -F` will complain that its option it's unknown. It would be nice to have cross-platform support for `tail -f / -F`.

Is this already on the roadmap?

[2020-02-03 21:57] nfischer commented on #172
Thanks! I filed this as https://github.com/shelljs/shelljs/issues/986, since support would need to land first over there. I'll mark this ticket as a duplicate now of that one.

[2020-02-03 21:57] #172 closed

[2020-02-04 12:17] martin-braun commented on #172
Thanks, yes, makes more sense.

[2020-02-05 15:49] Shayan-To opened #173 "Add a command to negate the exit code of some other command"
I couldn't find any way to do this in a cross-platform way. POSIX shell has the `!` operator that can do that, but I couldn't find a way to do it on Windows. It could work like an `exec` command that negates the exit code of the execution.

Sample use case: Stop a commit using `husky` if any file contains string `DO_NOT_COMMIT_THIS`. `"pre-commit": "shx not grep -rq DO_NOT_COMMIT_THIS ."`

[2020-02-05 22:53] nfischer commented on #173
I don't think this is currently possible in shx. We support `shx true` and `shx false` (and the OS will support `&&` and `||`), but I believe these are not enough to implement negation.

We could support a `shx --negate` flag to logically negate exit codes. Would you be interested in sending a PR? We would want to check for the flag value here:

https://github.com/shelljs/shx/blob/7e7bf7fe136c923a

[2020-03-13 11:31] akashmugu opened #174 "suggestion - expose commands directly (`ls` instead of `shx ls`)"
exposing commands directly (e.g. `ls`) along with (or instead of) via [shx](https://github.com/shelljs/shx/blob/master/package.json#L6) (e.g. `shx ls`) will make adding and removing shx extremely easy and literally a one line change

`npm i -D shx`

many small teams still use *nix commands directly in scripts if all the members use *nix. if a newly joined team member uses windows, just add shx to

[2020-03-20 09:01] basickarl opened #175 "cp command with --parents?"
I'm trying to do the following:
`cp **/*.csv --parents ../target`

Keep the hierarchy in other words, is this possible in shx as of now?

[2020-03-23 01:06] nfischer commented on #175
We don't support that option. It appears to be non-POSIX, so it's not high priority.

I think you could write a script with [ShellJS](https://github.com/shelljs/shelljs) to achieve the same effect. I didn't test this, but something like this might work:

[code]

Let me know if that works for you (or if you need to make edits).

[2020-03-23 14:36] basickarl commented on #175
Thanks for the quick response!

[2020-03-23 14:36] #175 closed

[2020-03-24 06:24] Oscarz90 opened #176 "shx stop working after a new library is added within package.json file"
SHX doesnt work after I make a yarn add <package> statement, It just doenst work after adding any library within package.json file using yarn add

[2020-03-24 17:57] nfischer commented on #176
Can you paste your package.json?

[2020-03-25 20:12] nfischer commented on #174
Not a high priority, as this is already offered by https://github.com/dthree/cash.

[2020-03-26 07:01] Oscarz90 commented on #176
I solved it, removing nodejs and installing again nodejs, clean npm and yarn caches

[2020-03-26 07:10] #176 closed

[2020-03-26 23:24] tdjastrzebski opened #177 "find not fully supported"
I just made the first attempt to use shx.
`shx find BUILD/debug -type f -name '*.o'`
yields **find: no such file or directory: -type**

[2020-03-27 03:35] nfischer commented on #177
This is a known limitation of ShellJS's [`find()` method](https://github.com/shelljs/shelljs#findpath_array). First step would be supporting the `-type` flag over there. I think shx could translate "-name" to shelljs's expected syntax, similar to how we translate sed's syntax:

https://github.com/shelljs/shx/blob/7e7bf7fe136c923ab6abbc39406fb87444aaf16d/src/shx.js#L95-L100

[2020-03-27 09:33] #174 closed

[2020-03-29 00:14] tdjastrzebski commented on #177
It looks **-name** flag is not fully supported as well.
`shx find BUILD/debug -name '*.o'`
results in `find: no such file or directory: -name`

[2020-03-30 04:33] nfischer commented on #177
-name is just the default argument. Try `cd BUILD/debug && shx find '*.o'`.

[2020-03-30 10:43] tdjastrzebski commented on #177
Well, yes, of course. The point, however, is still valid. **-name** flag is not supported.

[2020-03-30 22:16] nfischer commented on #177
My point above was that we could probably translate that within shx itself (merge default arg + `-name` into shelljs's expected input). But there's little point for doing so right now because `shell.find()` is just a wrapper around `shell.ls()` (you could just use `shx ls` for the same effect). If we implement `-type`, then `shell.find()` would bring something valuable to the table.

[2020-04-15 06:52] doberkofler opened #178 "Unable to output escaped double quotes using shx echo"
The following example shows that `shx echo` does not seem to output the escaped double quotes (at least) on the Windows platform:

[code]

[2020-04-15 23:11] nfischer commented on #178
That's equivalent to running any of the following in your shell:

[code]

If you want quote literals, you need:

[code]

Which translates to:

[code]

[2020-04-15 23:11] #178 closed

[2020-04-17 12:31] doberkofler commented on #178
Thank you. This works on macOS and Linux but on the Windows platform the output wrongly shows the single quotes: `Usage: node scripts/runSelenium.js '**/BasePage--test.ts'`.

[2020-04-17 20:02] nfischer commented on #178
Then you'll need to rewrite it with double-quotes (that's a Windows issue, before shx ever starts executing). I think this should work cross-platform:

[code]

[2020-04-19 11:25] doberkofler commented on #178
Perfect. Thank you!

[2020-04-26 19:28] codejamninja opened #180 "Npm package should always have a main module"
The package.json is missing the `main` property. Because this is a cli, I understand why it was neglected, but it can create problems, for example if I am running `require.resolve('shx')`.

[2020-04-27 17:58] nfischer commented on #180
Why would you try to require shx? We intentionally don't support this case. If you want to require a library in your own code, you should use ShellJS.

[2020-04-27 18:16] codejamninja commented on #180
I'm sure there are many reasons to require `shx` aside from the reason why I need to. I need to find the path to the shx module, and `require.resolve('shx')` is the way to do that, except it does not work without `"main"`.

[2020-04-27 18:56] nfischer commented on #180
Why do you need the path to the module? Npm is responsible for adding the executable to the `$PATH`, both for npm lifecycle scripts and for global installs (`npm install -g`).

[2020-04-27 19:01] nfischer commented on #180
https://github.com/sindresorhus/clipboard-cli/blob/master/package.json is a CLI which does not support `require`'ing

[2020-04-27 19:45] codejamninja commented on #180
@nfischer ok thanks for the clarity.

[2020-04-27 19:45] #180 closed

[2020-06-06 06:45] aminya opened #183 "rsync"
Adding rsync would be nice

[2020-06-07 02:00] nfischer commented on #183
Are there particular features you need which `cp` doesn't offer?

[2020-06-07 02:07] aminya commented on #183
https://dev.to/wolfiton/difference-between-cp-and-rsync-dk3

[2020-06-07 05:34] nfischer commented on #183
Not sure if we can reach the same level of performance. `-p` option is tracked in https://github.com/shelljs/shelljs/issues/771. Let's consider this a duplicate of that issue for now.

[2020-06-07 05:34] #183 closed

[2020-09-10 13:40] stevendesu opened #185 "New release with ShellJS v0.8.4"
The version of shx on NPMJS still relies on ShellJS v0.8.1

In Node v14 this throws a bunch of warnings:

[code]

It looks like the ShellJS dependency in the `package.json` on master has been updated, but the version number in the `package.json` has not been updated and NPMJS has not been updated (last update was 2 years ago on NPMJS)

[2020-10-20 15:30] sachalifs commented on #185
It'd be nice to have a new release of this library so that we can pin it easily in our deps. Thanks in advance!

[2020-10-20 15:38] sachalifs commented on #185
@stevendesu I was having the same issue and I fixed it by running `yarn remove shx` and `yarn add shx`. It seems this problem was being caused by another dependency.

[2020-10-26 05:40] nfischer commented on #185
See https://github.com/shelljs/shx/releases/tag/v0.3.3

[2020-10-26 05:40] #185 closed

[2020-10-26 07:54] nfischer opened #187 "Remove babel config if node supports all ES6 features we need"
After we update minimum node version to v8 (#186), we should see if we can remove the babel config and just use ES6 features directly. This will simplify the build config while also removing our reliance on several dependencies.

[2021-02-03 04:44] goerwin commented on #127
What about setting the env vars in the same line, without having to restort to cross-env? Eg:

[code]

[2021-02-05 20:15] nfischer commented on #127
@goerwin we don't support executing arbitrary commands at the moment, so I don't think there's any benefit to defining variables in-line (although I can see the benefit of combining these features together). Other than that, this is subject to the same concerns I outlined above (distinguishing between `$foo` vs. `'$foo'`, `VAR=value` vs. `'VAR=value'`, etc.).

[2021-04-28 07:44] ktalebian commented on #65
@nfischer any update on this? Looks like this issue is over 6 years old. Maybe it's time to either close this issue as `wouldn't do`?

[2021-06-05 10:02] rxliuli opened #188 "Why not directly overwrite these commands of cp/rm/mv but place them as subcommands of shx?"
Is there any problem with overwriting? It seems to be easier to use

[2021-06-15 02:47] nfischer commented on #188
That's not a goal of this project. This is mainly focused on portable commands for npm package scripts. This is a case where it's useful to have shell-like commands but it's OK if it's slightly verbose.

If you want drop-in replacements for unix commands, you can try https://github.com/dthree/cash.

[2021-06-15 02:47] #188 closed

[2021-08-11 17:44] leonheess opened #190 "Recursive globbing (./**/) works differently depending on OS"
Consider this command: `shx cp -r ./src/**/*.js .`. It is copying all `.js`-files from `./src` and its sub-directories  into `.`. On Windows 10 it will also consider every `.js`-file inside `src` but on Debian it will only copy files from sub-directories of `src` but not `src` itself.

Windows 10:
[code]

Debian:
[code]

[2021-08-16 16:58] iamevansobeng commented on #164
This is what resolved mine. I installed this shx package as dev dependency myself
`yarn add -D shx`  or `npm i shx --dev`

https://www.npmjs.com/package/shx

[2021-09-11 02:07] nfischer commented on #190
What is the behavior of `shx cp -r "./src/**/*.js" .` (glob is wrapped in quotes)? Is that the same on both operating systems?

[2021-09-20 11:07] gabifuse opened #191 "rm rf The system cannot find the path specified."
Hello!

Im trying to run the following script in my packacge.json:

"clean": "shx rm -rf node_modules",

yet when i run it i run into the following error:

The system cannot find the path specified.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! @fuse/typeorm@0.0.24 clean: `shx rm -rf ./node_modules`
npm ERR! Exit status

The operating system is windows 10.
What might be the issue?

Thanks in

[2021-09-23 07:06] hcfw007 opened #192 "echo works differently in Win"
I have a npm script like this
[code]
when calling it on Mac Os

[code]
it works properly. the content of the target package.json is
[code]
however in Win, maybe something is wrong when converting quotations.
[code]
the content of the target package.json is
[code]

[2021-11-25 08:54] ripntime commented on #167
Try this command, Yeah i know it seems to be counter intuitive. Then select no when it asks if want to use dash. You will end up with bash as yur command interpreter.

sudo dpkg-reconfigure dash

Removing 'diversion of /bin/sh to /bin/sh.distrib by dash'
Adding 'diversion of /bin/sh to /bin/sh.distrib by bash'
Removing 'diversion of /usr/share/man/man1/sh.1.gz to /usr/share/man/man1/sh.distrib.1.g

[2021-11-29 02:17] nfischer commented on #191
Where does the `./` come from? Your package.json doesn't show a `./` before the path. Was that a typo or is that being added at runtime (perhaps by `npm`)?

[2021-11-29 02:31] nfischer commented on #192
What version of node and npm are you using?

This looks like an npm bug. Npm appears to be adding single quote characters into your command. Single quotes change the behavior on Windows. There's nothing shx can do to workaround this since it's just executing the command is it was received (and you'll notice in the npm output that shx receives a command with single quotes).

[2021-11-29 02:31] #192 closed

[2021-12-17 10:40] nikolay-tzonev commented on #164
Hi all, I just tackled a similar issue on my environment.

My case is that I am using WSL console (Ubuntu terminal) in tandem with Windows PowerShell which turns out is not best practice. If you `npm install` the packages with WSL terminal the *.bat files are not installed in .bin folder and obviously running any `shx ...` commands in PowerShell (or anywhere outside WSL) would fail. So my fix is t

[2022-01-15 21:10] nfischer commented on #159
This will be fixed in the next shelljs release. This is a breaking change in shelljs, so it might take a bit to get it released.

Keeping this open since we'll need to pull in a new shelljs version to get this fixed in shx.

[2022-03-03 20:37] davidicus opened #199 "Node 16 support"
Hi there. First off, thank you all so much for your awesome work. I see that node 16 support has recently been added and I am hoping this will be published soon as it is blocking my ability to upgrade node in my own project.

Do you have plans on publishing a new version in the near future?

[2022-03-03 22:00] davidicus commented on #199
I was mistaken that this was the root of my issue. I will close.

[2022-03-03 22:00] #199 closed

[2022-04-14 13:14] FTOH commented on #65
This feature will allow to run commands silently, which is impossible to do cross-platform.
[code]

[2022-05-23 17:31] eng-dibo opened #201 "pipes"
does `shx` support piping in windows?

I run this command in windows and got `sh not a recognized command`
[code]

[2022-05-30 00:58] nfischer commented on #201
Shx doesn't itself support pipes, however it should be compatible with your operating system shell's pipe support. So if you're running a command on MacOS, Linux, or a shell that supports piping, then you could expect the following to work:

[code]

I don't think Windows `cmd.exe` has pipe support, however I think Windows powershell does. If you're using Windows Subsystem for Linux (WSL) then that

[2022-05-30 00:58] #201 closed

[2022-06-27 14:53] leonheess commented on #190
No, also different

[2022-06-27 18:39] funnylookinhat opened #202 "Add ability to invert test"
Thank you for creating and maintaining this package - it is incredibly useful!

I've encountered a unique situation that I don't think is currently supported by shx (but it supported by shelljs).

I can test if a file or directory exists with the `test` command:

[code]

But I cannot do the opposite (check if it does not exist).  ShellJS supports the negation of a test, but I'm not seeing a way to

[2022-07-05 07:21] nfischer commented on #202
Looks like this could be a duplicate of issue #173?

[2022-07-05 07:21] #202 closed

[2022-07-05 07:47] nfischer commented on #190
I cannot reproduce this on my Ubuntu machine:

[code]

I think this is more likely a problem with the shell on your Debian machine. Maybe you have a really old version of Bash shell which doesn't support the `**` syntax? I'm also not sure what you mean by "Only happens if it's called with npm or yarn" but if you're talking about `npm`'s ["package scripts"](https://docs.npmjs.com/cli/v8/using-npm/s

[2022-07-05 07:48] #190 closed

[2022-07-05 07:54] leonheess commented on #190
Not sure what to tell you. I have a npm package script that is `shx cp -r ./src/**/*.js .` and if I run in on my Windows machine it does something different than it does in the Ubuntu Azure pipeline (as described in the issue description).

I had to rewrite to `shx cp -r ./src/*.js . && shx cp -r ./src/sub-dir/*.js .` for it to work identical on both machines.

[2022-07-05 07:57] nfischer commented on #190
I believe you have that script, but did you see my recommended workaround about wrapping the glob expansion in double quote characters (`"`)?

[2022-07-05 13:04] funnylookinhat commented on #202
Ah yes - thank you for catching that.  Sorry for the duplicate issue. :-)

[2022-07-23 17:55] eng-dibo opened #203 "fails when passing arguments separately"
when I run `shx rm -f -r dir` it fails with the error `path is a directory`
but when I run the exactly same command but putting arguments together it success `shx rm -fr dir`

[2022-08-10 01:49] nfischer commented on #203
This is currently unsupported in shelljs and shx. You'll need to pass options in a single string (as you've discovered).

[2022-09-04 08:39] eng-dibo commented on #203
please at least update your docs to refer this issue

[2022-09-15 22:56] eng-dibo opened #207 "support more linux commands"
I see only limited commands are supported, but the docs don't refer to the supported list.
so please update the description to mention the supported list
and try to support more commands

commands tested and confirmed to be not supported
[code]
which kills a port